<?xml version="1.0" encoding="UTF-8"?>
<skinConfiguration>
	<information>
		<id>00000000000000000000000000000002</id>
		<name>Symplified</name>
		<description>Symplified skin</description>
		<author>Erik Amaru Ortiz</author>
		<version>1.0</version>
		<createDate>2012-01-17</createDate>		
		<modifiedDate>2012-01-17</modifiedDate>
	</information>
	<cssFiles>		
		<skin>
			<cssFile file="style.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
			<cssFile file="topbar.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
			<cssFile file="rtl.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
		</skin>
	</cssFiles>
</skinConfiguration>