<table style="background-color: white; font-family: Arial,Helvetica,sans-serif; color: black; font-size: 11px; text-align: left;" cellpadding="10" cellspacing="0" width="100%">
<tr>
  <td style="font-size: 14px;"><b>AÇÕES POR EMAIL</b></td>
</tr>
<tr>
  <td style="vertical-align:middle;">
	  <hr>
	  <br />
	  @#__ABE__
    <br />
		<br />
		<hr><b>Este processo de negócio é alimentado por DocSystem.<b>
		<br />
        <a href="http://www.docsystemcorp.com/" style="color:#c40000;">www.docsystemcorp.com</a>
		<br />
  </td>
</tr>
</table>