<table style="background-color: white; font-family: Arial,Helvetica,sans-serif; color: black; font-size: 11px; text-align: left;" cellpadding="10" cellspacing="0" width="100%">
<tr>
  <td style="font-size: 14px;"><b>ACTIONS BY EMAIL</b></td>
</tr>
<tr>
  <td style="vertical-align:middle;">
	  <hr>
	  <br />
	  @#__ABE__
    <br />
		<br />
		<hr><b>This Business Process is powered by ProcessMaker.<b>
		<br />
		<a href="http://www.processmaker.com" style="color:#c40000;">www.processmaker.com</a>
		<br />
  </td>
</tr>
</table>