<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
            h2{
                font-family:arial, verdana, helvetica, sans-serif;
                color:rgb(26, 72, 151);
                font-size:10.24px;
                font-style:normal;
                text-align:justify;
                font-weight:bold;
            }
            p{
                font-family:arial, verdana, helvetica, sans-serif;
                font-size:10.24px;
                font-style:normal;
                display: table;
            }
            .image-position {
                float:right;
                margin-left:5px;
            }
        </style>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>
                        <h2>Business Rules Engine</h2>
                        <p>
                            Allows companies to develop business rules outside of their processes, making it much easier to develop and maintain complex business logic. This level of abstraction allows process designers to assign business rule maintenance tasks to an analyst that only needs to understand the logic of the business rules and does not need to have a deep understanding of the entire business process.
                            <br><a href="http://www.processmaker.com/business-rules-engine-processmaker" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-business-rules.png" alt="Custom Case" width="250" height="55">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Advanced Dashboards</h2>
                        <p>
                            When you implement a BPM solution such as ProcessMaker to automate your processes and improve your efficiency, it's usually a good idea to have some way of measuring the amount of improvement that you've achieved. ProcessMaker's advanced dashboards give users, administrators and managers that functionality. Dashboards are customizable, can report on any data in your ProcessMaker installation and feature advanced drilldown functionality.
                            <br><a href="http://www.processmaker.com/advanced-dashboards" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-dashboard-advanced.jpg" alt="Advanced Dashboards" width="250" height="129">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Custom Case List Builder</h2>
                        <p>
                            Allows an admin to setup custom column views inside a user’s cases boxes (inbox, draft, sent, etc). Information from report tables or Dynaforms can then be displayed in the columns making the inbox experience more relevant and useful to the user.
                            <br><a href="http://processmaker.com/workflow-inbox-and-bpm-inbox" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-custom-case-list-builder.png" alt="Custom Case" width="250" height="145">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Case Archive/Restore Case Archive &amp; Restore</h2>
                        <p>
                            Allows ProcessMaker administrators to archive large case loads, achieving better maintenance and audit controls for ProcessMaker instances. The feature also ensures that large scale implementations can offload old cases from the main Inbox in order to ensure speed at high scale. Cases can be restored to user inboxes at any time by the administrator.
                            <br><a href="http://www.processmaker.com/case-archive-and-restore-processmaker" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-case-archive-and-restore-for-processmaker.png" alt="Case Archive" width="250" height="105">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>SLA Manager Service Level Agreements Manager</h2>
                        <p>
                            Allows process administrators to set specific Service Level Agreements in ProcessMaker processes. These SLAs can be set on a task, across multiple tasks, or across a full process. Reports show non conforming processes where SLAs have not been met. Drill downs permit supervisors to perform a forensic analysis to determine the exact causes of low performing processes in order to fix the root cause. Penalties can also be set and applied to enforce SLAs with subcontractors.
                            <br><a href="http://www.processmaker.com/service-level-agreements-processmaker" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-sla.png" alt="SLA" width="250" height="95">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Data reporting tools</h2>
                        <p>
                            Here is what you can now do with our new Data Reporting Tools:<br>
                            Build and Edit custom reports with separate security models using report scopes.<br>
                            Perform joins on multiple data sets as well as on the core ProcessMaker application tables.<br>
                            Export reports to excel and PDF.<br>
                            Enjoy responsive user interface built with Kendo UI which allows operations inside reports like grouping, filtering, and more.
                            <br><a href="http://processmaker.com/data-reporting-tools" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-data-reporting-tools.png" alt="Data reporting tools" width="250" height="89">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Advanced LDAP/AD Sync</h2>
                        <p>
                            Syncronize with an LDAP or Active Directory Server for authentication, groups, and pass through authentication from Windows Domain Controller. Manage your users and groups from one application.
                            <br><a href="http://processmaker.com/bpm-ldap-and-bpm-active-directory" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-advanced-ldap-authentication.png" alt="LDAP" width="250" height="123">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Batch Routing from Inbox</h2>
                        <p>
                            Allows users to enter data into cases from their ProcessMaker inbox and then derivate those cases directly to the next user. Data can be applied to multiple cases at once.
                            <br><a href="http://processmaker.com/batch-routing-plugin" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-batchrouting.png" alt="Batch Routing" width="250" height="119">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Advanced Performance Monitor Dashboards</h2>
                        <p>
                            Displays the information provided by the New Relic application within ProcessMaker. New Relic is a useful tool for reporting on system performance and delivers numerous dashboards for administrators.
                            <br><a href="http://www.processmaker.com/new-relic-processmaker" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-advanced-performance-monitor-dashboards-for-processmaker.png" alt="Advanced Performance Dashboards" width="250" height="65">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>ProcessMaker Monitor &amp; Multi-Tenancy Management</h2>
                        <p>
                            Allow administrators to manage the ProcessMaker server and all of the workspaces that are installed on it. Here administrators can view the access log for all workspaces, manage connections and setup new workspaces on the ProcessMaker server. The Multi-Tenancy visual web tools turn a ProcessMaker server into a multi-tenant server so that a company can host “n” number of ProcessMaker workspaces on a single server and offer this service commercially to other clients. Includes tools to see the number of cases and processes running and turn customers off and on with a single click.
                            <br><a href="http://processmaker.com/multi-tenant-management" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-multitenancy-management-plug-in.png" alt="Multitenancy Management" width="250" height="135">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Microsoft Outlook Connector</h2>
                        <p>
                            This connector allows ProcessMaker users to manage their cases inbox, drafts, participated and other folders as well as start new cases directly from their MS Outlook client. Interact with ProcessMaker Dynaforms from the preview pane of Outlook.
                            <br><a href="http://www.processmaker.com/bpm-outlook-integration" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-outlook-case-in-processmaker.png" alt="Microsoft Outlook Connector" width="250" height="129">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Promotion Manager</h2>
                        <p>
                            The Promotion Manager allows end users to selectively import and export process objects, which include: the Process Definition, Assignment Rules, Variables, Dynaforms, Input Documents, Output Documents, Triggers, Report Tables, Templates, Files, DB Connection, Permissions, Supervisors and Supervisors Objects.
                            <br><a href="http://wiki.processmaker.com/3.0/Promotion_Manager" target="_blank">Read More»</a>
                        </p>
                    </td>
                    <td>
                        <a class="image-position">
                            <img src="/images/dashlets/pm3-granular-export-options.png" alt="Microsoft Outlook Connector" width="100" height="150">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
