<div class="boxTop">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>
<div class='boxContentNormal'>
  <div class="pagedTableDefault" style="">
    <table class="Default" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td class="headerContent">
                <table width="" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="tableOption">
                      <img width="6" src="/images/bulletButton.gif"/>
                      <a id="form[MNU_ADD]" class="tableOption" onclick="newDashboard();return false;" name="form[MNU_ADD]" href="#">{$ID_NEW}</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
	<div id='dashboard' style='position:relative;width:100%;'></div>
</div>
<div class="boxBottom">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>
