<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="automated">
            <directory>./tests/automated/</directory>
        </testsuite>
<!--
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
-->
    </testsuites>

<!--     <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./gulliver</directory>
                <directory>./workflow</directory>
                <directory>./rbac</directory>
            </exclude>
        </whitelist>
    </filter> -->

    <php>
        <var name="SYS_SYS" value="os" />
        <var name="SYS_LANG" value="en" />
        <var name="SYS_SKIN" value="classic" />
        <var name="zDB_ADAPTER" value="mysql" />
        <var name="zDB_HOST" value="localhost" />
        <var name="zDB_NAME" value="wf_os" />
        <var name="zDB_USER" value="root" />
        <var name="zDB_PASS" value="password" />
        <var name="PATH_DB" value="/shared/workflow_data/sites/" />
        <var name="PATH_DATA" value="/shared/workflow_data/sites/" />
    </php>

    <logging>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
