<VirtualHost *:80>
    ServerName 127.0.0.1

    DocumentRoot /example/path/to/processmaker/workflow/public_html
    DirectoryIndex index.html index.php

    <Directory /example/path/to/processmaker/workflow/public_html>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all

        ExpiresActive On

        <IfModule mod_rewrite.c>
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^.*/(.*)$ app.php [QSA,L,NC]
        </IfModule>
    </Directory>
</VirtualHost>
