<br>
<!-- START BLOCK : error -->
<table width="400" border='0' >
<tr>
  <td >
  <table  class="Grid" cellspacing="0" cellpadding="0"  width='100%'  >
  <tr class='Header'>
     <th class="formTitle" align="left" valign='center' width='100%' >{title}</td>
  </tr>
  <tr>
  <td >
  <table width=100% border=0 >
    <tr><td class="taskTxt" align="left"  >{text}<br><br></td></tr>
  </table>
  </td>
  </tr>
</table>
<!-- END BLOCK : error -->

<!-- START BLOCK : empty-rows -->
<table width="400" border='0' >
<tr>
  <td >
  <table  class="Grid" cellspacing="0" cellpadding="0"  width='100%'  >
  <tr class='Header'>
     <th class="formTitle" align="left" valign='center' width='100%' >{title}</td>
  </tr>
  <tr>
  <td >
  <table width=100% border=0 >
    <tr><td class="taskTxt" align="left"  >{empty-rows-text}<br><br></td></tr>
  </table>
  </td>
  </tr>
</table>
<!-- END BLOCK : empty-rows -->


<!-- START BLOCK : start-users -->
<table width="600" border='0' cellpadding='0' cellspacing='0'>
<tr>
  <td colspan=2  valign='top'>
      <table width="600px" class="Grid" cellspacing="0" cellpadding="0"  width='100%'  >
        <tr class='Header'>
          <th width='400px' >User{title}</th>
          <th width='200px' >&nbsp;</th>
          <th width='200px' >User Id</th>
          <th width='200px' >Roles{title}</th>
        </tr>
<!-- END BLOCK : start-users -->

<!-- START BLOCK : users -->
    <tr class="{class}" onmouseover="setRowClass(this, 'RowPointer' );" onmouseout="setRowClass(this, '{class}');">
      <td align="center" >{index}<input type='hidden' name='M-{index}' id='M-{index}' value='{email}' ><input type='hidden' name='F-{index}' id='F-{index}' value='{fullname}' ></td>
      <td align="left" >{dn}<br> {fullname} ( {email} )</td>
      <td align="left" >{checkbox}</td>
      <td align="left" >{input}</td>
      <td align="left" >{options}</td>
    </tr>
<!-- END BLOCK : users-->

<!-- START BLOCK : end-users -->
    <tr class="Row1" >
      <td align="center" colspan='2' >&nbsp;</td>
      <td align="center" colspan='3' ><input type='button' value='Add users' onclick='saveAddUsers();' ></td>
    </tr>
  </table>
      </td>
    </tr>
  </table>
<!-- END BLOCK : end-users-->
