/**
 * Cases Interface styles
 */

#details-panel .x-panel-body {
    padding: 10px;
    background: #eee;
    color: #555;
}
#details-panel a:link, #details-panel a:visited {
    color: #369;
}
#details-panel h2 {
    color: #369;
    font-size: 15px;
}
#details-panel p {
    margin-bottom: 5px;
}

.ICON_FOLDERS {
    background-image: url(/images/cases-folders.png) !important;
}

.ICON_CASES_FOLDERS {
    background-image: url(/images/cases-inbox.png) !important;
}

.ICON_CASES_INBOX {
    background-image: url(/images/cases-inbox.png) !important;
}

.ICON_CASES_DRAFT {
    background-image: url(/images/cases-draft.png) !important;
}

.ICON_CASES_SENT {
    background-image: url(/images/cases-outbox.png) !important;
}

.ICON_CASES_SELFSERVICE {
    background-image: url(/images/cases-selfservice.png) !important;
}

.ICON_CASES_PAUSED {
    background-image: url(/images/cases-paused.png) !important;
}

.ICON_CASES_COMPLETED {
    background-image: url(/images/cases-completed1.png) !important;
}

.ICON_CASES_CANCELLED {
    background-image: url(/images/cases-cancelled.png) !important;
}

.ICON_CASES_FOLDERS {
    background-image: url(/images/cases-documents.png) !important;
}

.ICON_SEARCHS {
    background-image: url(/images/cases-search.png) !important;
}

.ICON_ADMIN {
    background-image: url(/images/cases-admin.png) !important;
}

.ICON_CASES_TO_REVISE {
    background-image: url(/images/cases_torevise.png) !important;
}

.ICON_CASES_TO_REASSIGN {
    background-image: url(/images/cases-reassing.png) !important;
}

.ICON_CASES_START_PAGE {
    background-image: url(/images/pm.gif) !important;
}
.ICON_CASES_START_CASE {
    background-image: url(/images/addc.png) !important;
}
.ICON_CASES_HOME {
    background-image: url(/images/dialog-ok-apply.png) !important;
}
 

/**
 * style for case list grid
 */
.x-grid3-col-openLink {
    padding: 1px;
    background: #eee;
    text-align: center;
}

.x-grid3-col-openLink a {
    color: black; 
    border-color:#ff0;
}

.x-grid3-col-openLink a:hover {
    background: #0ee;
}




 

/*
* Cambios CSS
* Rene Silva
* 18102010
*/
.x-grid3-cell-inner{
/*	font-size:12px;*/
}
.x-grid3-row-table{
	padding:3px 0;
}
.x-grid3-row:nth-child(odd) { background-color:#FFF; }
.x-grid3-row:nth-child(even) { background-color:#F6F6F6; }
.x-grid3-row-over{
	background: #E0EAEF !important;
	/*cursor: pointer;*/
}
.x-grid3-hd-inner{
	font-size:11px;
	font-weight: bold;
	color:#333;
	text-shadow:#fff 0px 1px 1px;
}
.x-grid3-col-openLink,.x-grid3-col-deleteLink{
	background:none;
	height: 18px;
}
.x-grid3-col-openLink a,.x-grid3-col-deleteLink a{
	-moz-border-radius:10px;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	background:#EEE;
	border-radius:10px;
	color:#333;
	font-size:10px;
	font-weight:700;
	margin:0px;
	padding:3px 5px;
	text-decoration:none;
	line-height: 18px;
	text-shadow:0 1px 0px rgba(255,255,255,1);
}
.x-grid3-col-openLink a:hover,.x-grid3-col-deleteLink a:hover{
	background:#666;
	color:#fff;
	text-shadow:0 1px 0px rgba(0,0,0,1);
}
.x-grid3-col-openLink a:after{
	content:'';
}

/*
Pone en mayúsuclas el texto que se encuentra en el toolbar de arriba
*/
.x-panel-tbar .x-toolbar-cell{
	text-transform: capitalize;
}

/*
TREE
*/
#ext-gen38.x-tree-root-ct .x-tree-node-el{
	/*background:none;*/
}

#ext-gen38.x-tree-root-ct .x-tree-node-ct b{
	background:#FFFADF;
}


#refreshNotifiers.x-btn{
}
#ext-gen35.x-panel-tbar-noheader{
	position:absolute;
	top:1px;
	right:1px;
	height:27px;
	z-index:1000 !important;
	width:28px !important;
	border-bottom:1px #ccc solid;
}
#ext-gen35.x-panel-tbar-noheader .x-toolbar-layout-ct{
	width:28px !important;
}
#ext-gen35.x-panel-tbar-noheader .x-toolbar-left{
	display:none;
}
#ext-gen35.x-panel-tbar-noheader .x-toolbar-right{
	text-align: left !important;
}