/*#x-basicshapes li {
        background-image:url('/skins/ext/images/gray/shapes/basic-shapes.png');
        background-repeat:no-repeat;
        margin-left:25px;
    }

#x-shapes-text {background-position:1px 0px;height: 30px}
#x-shapes-task1 {background-position:1px -30px;height: 30px}
#x-shapes-loop {background-position:1px -63px;height: 30px}
#x-shapes-flow {background-position:1px -94px;height: 30px}
#x-shapes-group {background-position:1px -124px;height: 30px}
#x-shapes-loopsub {background-position:1px -153px;height: 30px}
#x-shapes-assoc {background-position:1px -184px;height: 30px}
#x-shapes-msgconn {background-position:1px -124px;height: 30px}
#x-shapes-lane {background-position:1px -239px;height: 30px}
#x-shapes-dataObject {background-position:1px -273px;height: 30px}


#x-event-shapes li {
        background-image:url('/skins/ext/images/gray/shapes/events.png');
        background-repeat:no-repeat;
        margin-left:11px;
    }

#x-shapes-event-empty {background-position:1px 0px;height: 35px}
#x-shapes-event-msgstart {background-position:1px -42px;height: 35px}
#x-shapes-event-rule {background-position:1px -80px;height: 35px}
#x-shapes-event-timerstart {background-position:1px -120px;height: 35px}
#x-shapes-event-sigstart {background-position:1px -161px;height: 35px}
#x-shapes-event-mulstart {background-position:1px -202px;height: 35px}
#x-shapes-event-linkstart {background-position:1px -242px;height: 35px}
#x-shapes-event-emptyinter {background-position:1px -283px;height: 35px}
#x-shapes-event-msgconn {background-position:1px -323px;height: 35px}
#x-shapes-event-timerinter {background-position:1px -364px;height: 35px}
#x-shapes-event-errorinter {background-position:1px -405px;height: 35px}
#x-shapes-event-compinter {background-position:1px -445px;height: 35px}
#x-shapes-event-ruleinter {background-position:1px -486px;height: 35px}
#x-shapes-event-caninter {background-position:1px -526px;height: 35px}
#x-shapes-event-intersig {background-position:1px -565px;height: 35px}
#x-shapes-event-mulinter {background-position:1px -607px;height: 35px}
#x-shapes-event-linkinter {background-position:1px -646px;height: 35px}
#x-shapes-event-emptyend {background-position:1px -688px;height: 35px}
#x-shapes-event-messageend {background-position:1px -726px;height: 35px}
#x-shapes-event-errorend {background-position:1px -766px;height: 35px}
#x-shapes-event-compend {background-position:1px -805px;height: 35px}
#x-shapes-event-terminate {background-position:1px -844px;height: 35px}
#x-shapes-event-endsignal {background-position:1px -884px;height: 35px}
#x-shapes-event-multipleend {background-position:1px -922px;height: 35px}
#x-shapes-event-cancelend {background-position:1px -963px;height: 35px}
#x-shapes-event-linkend {background-position:1px -1000px;height: 35px}


#x-gateways-shapes li {
        background-image:url('/skins/ext/images/gray/shapes/gateways.png');
        background-repeat:no-repeat;
        margin-left:9px;
    }

#x-shapes-gateways-exc-data {background-position:1px -1px; height: 55px;}
#x-shapes-gateways-exc-event {background-position:1px -60px; height: 55px}
#x-shapes-gateways-inc-data {background-position:1px -120px; height: 55px}
#x-shapes-gateways-parallel {background-position:1px -180px; height: 55px}
#x-shapes-gateways-complex {background-position:1px -240px; height: 55px}

#x-shapes li {
        background-image:url('/skins/ext/images/gray/shapes/shapes.png');
        background-repeat:no-repeat;
        margin-left:9px;
    }

#x-shapes-task {background-position:5px -3px; height: 30px;}
#x-shapes-startEvent {background-position:5px -34px; height: 30px}
#x-shapes-interEvent {background-position:5px -64px; height: 30px}
#x-shapes-endEvent {background-position:5px -95px; height: 30px}
#x-shapes-gateways {background-position:5px -127px; height: 30px}
*/
#x-shapes p {
    type:none;       
        
        margin-left:9px;
    }

#x-shapes-task {        
	 width:36px;
	 height:26px;
	/* background-image:url('/skins/ext/images/gray/shapes/pallete/task.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-startEvent {
	 width:38px;
	 height:38px;
	/* background-image:url('/skins/ext/images/gray/shapes/pallete/startevent.png');*/
	 margin:2 2 2 2;
}

#x-shapes-interEvent {
	 width:38px;
	 height:38px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/interevent.png');*/
	 margin:2 2 2 2;
}

#x-shapes-endEvent {
	 width:38px;
	 height:38px;
	/*background-image:url('/skins/ext/images/gray/shapes/pallete/endevent.png');*/
	 margin:2 2 2 2;
}

#x-shapes-gateway {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-dataobject {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:0 2 2 2;
}

#x-shapes-group {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:4 2 2 2;
}

#x-shapes-annotation {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:5 2 2 2;
}

#x-shapes-pool {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-lane {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-milestone {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-sequence {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-association {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}

#x-shapes-message {
	 width:36px;
	 height:36px;
	 /*background-image:url('/skins/ext/images/gray/shapes/pallete/gateway.png') ;*/
	 margin:2 2 2 2;
}