{if $printTemplate}
{* this is the xmlform template *}
<table class="basicTable" width='{$form->width}'>
<form id="{$form->id}" name="{$form->id}" action="{$form->action}" method="post">
  <tr><td valign='top'>        
{if isset($form->title) && $form->title !=='' }
   <table class="Header" >
     <tr>
      <th>{$form->title}</th>
     </tr>
   </table>
{/if}
   <table class='Record' >
{assign name='colCounter' value='0'}
{foreach from=$form->fields item=field}
{if ($field->type==='title')}
     <tr>
      <td class='FormTitle' colspan="2">{$field->field}</td>
     </tr>
  {assign name='colCounter' value='0'}
{elseif ($field->type==='subtitle')}
     <tr>
      <td class='FormSubTitle' colspan="2">{$field->field}</td>
     </tr>
  {assign name='colCounter' value='0'}
{elseif ($field->type==='button') || ($field->type==='submit') || ($field->type==='reset')}
     <tr>
      <td class='FormButton' colspan="2">{$field->field}</td>
     </tr>
  {assign name='colCounter' value='0'}
{elseif ($field->type==='grid')}
     <tr>
      <td class='FormField' colspan="2">{$field->field}</td>
     </tr>
  {assign name='colCounter' value='0'}
{elseif ($field->type==='javascript')}
<script language="javascript">
      {$field->field}
</script>
{elseif ($field->type==='phpvariable')}
{elseif ($field->type==='private')}
{elseif ($field->type==='')}
{else}
  {if $colCounter==0}   <tr>{/if}
  {assign name='colCounter' value=`($colCounter+1) % $form->cols`}
      <td class='FormLabel' width="{$form->labelWidth}">{$field->label}</td>
      <td class='FormField'>{$field->field}</td>
  {if $colCounter==0}   <tr>{/if}
{/if}
{/foreach}
   </table>
  </td></tr>
</form>
</table>
{/if}
{if $printJSFile}
var form_{$form->id};
var i;
function loadForm_{$form->id}(ajaxServer)
{literal}{{/literal}
if (typeof(G_Form)==='undefined') return alert('form.js was not loaded');
  form_{$form->id}=new G_Form(document.getElementById('{$form->id}'),'{$form->id}');
  var myForm=form_{$form->id};
  myForm.ajaxServer=ajaxServer;
  {foreach from=$form->fields item=field key=name}
    i = myForm.aElements.length;
    {if ($field->type==='dropdown')}
      myForm.aElements[i] = new G_DropDown(myForm, myForm.element.elements['form[{$name}]'],'{$name}');
      myForm.aElements[i].setAttributes({$field->getAttributes()});
      {$field->attachEvents("myForm.aElements[i].element")}
    {elseif ($field->type==='text')}
      myForm.aElements[i] = new G_Text(myForm, myForm.element.elements['form[{$name}]'],'{$name}');
      myForm.aElements[i].setAttributes({$field->getAttributes()});
      {$field->attachEvents("myForm.aElements[i].element")}
    {elseif ($field->type==='percentage')}
      myForm.aElements[i] = new G_Percentage(myForm, myForm.element.elements['form[{$name}]'],'{$name}');
      myForm.aElements[i].setAttributes({$field->getAttributes()});
      {$field->attachEvents("myForm.aElements[i].element")}
    {elseif ($field->type==='currency')}
      myForm.aElements[i] = new G_Currency(myForm, myForm.element.elements['form[{$name}]'],'{$name}');
      myForm.aElements[i].setAttributes({$field->getAttributes()});
      {$field->attachEvents("myForm.aElements[i].element")}
    {elseif ($field->type==='date')}
      myForm.aElements[i] = new G_Date(myForm, myForm.element.elements['form[{$name}]'],'{$name}');
      myForm.aElements[i].setAttributes({$field->getAttributes()});
      {$field->attachEvents("myForm.aElements[i].element")}
    {elseif ($field->type==='grid')}
      myForm.aElements[i] = new G_Grid(myForm, '{$name}');
      grid_{$field->id}(myForm.aElements[i]);
      {$field->attachEvents("myForm.aElements[i].element")}
    {else}
      var element = getField("{$name}");
      {$field->attachEvents("element")}
    {/if}
  {/foreach}
  {foreach from=$form->fields item=field key=name}
    {if isset($field->dependentFields) && ($field->dependentFields!='')}
      {if ($field->type==='dropdown')}
          myForm.getElementByName('{$name}').setDependentFields('{$field->dependentFields}');
      {elseif ($field->type==='text')}
          myForm.getElementByName('{$name}').setDependentFields('{$field->dependentFields}');
      {elseif ($field->type==='percentage')}
          myForm.getElementByName('{$name}').setDependentFields('{$field->dependentFields}');
      {elseif ($field->type==='currency')}
          myForm.getElementByName('{$name}').setDependentFields('{$field->dependentFields}');
      {/if}
    {/if}
  {/foreach}
{literal}}{/literal}
{/if}
{if $printJavaScript}
leimnud.event.add(window,'load',function(){literal}{{/literal}loadForm_{$form->id}('{$form->ajaxServer}');{literal}}{/literal});
{/if}