<!-- START BLOCK : headBlock -->
<table id="pagedtable[{pagedTable_Id}]" name="pagedtable[{pagedTable_Name}]" border="0" cellspacing="0" cellpadding="0" >
<tr >
  <td valign="top">
	  <span class='subtitle'>{title}</span>
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
		<!-- START BLOCK : headerBlock -->
      <tr><td >{content}</td></tr>
		<!-- END BLOCK : headerBlock -->
    </table>
    <table id="table[{pagedTable_Id}]" name="table[{pagedTable_Name}]" class="Grid" cellspacing="0" cellpadding="0" width="100%">
    <!-- END BLOCK : headBlock -->
    <!-- START BLOCK : contentBlock -->
    <tr class='Header'>
		<!-- START BLOCK : headers -->
        <th width="{width}" ><a href="{href}" onclick="{onclick}">{header}</a></th>
		<!-- END BLOCK : headers -->
    </tr>
  	<!-- START BLOCK : row -->
  	<tr class='{class}' onmouseover="setRowClass(this, 'RowPointer' )" onmouseout="setRowClass(this, '{class}')" >
    	<!-- START BLOCK : field -->
      <td align="{align}" width="{width}">{value}</td>
    	<!-- END BLOCK : field -->
    </tr>
  	<!-- END BLOCK : row -->
  	<!-- START BLOCK : rowTag -->
  	<!-- END BLOCK : rowTag -->

  	<!-- START BLOCK : norecords -->
    <tr class='Row2'>
      <td nowrap colspan="{columnCount}" align='center' >&nbsp;
        {noRecordsFound}<br>&nbsp;
   		</td>
    </tr>
  	<!-- END BLOCK : norecords -->

  	<!-- START BLOCK : bottomFooter -->
    <tr>
      <td nowrap colspan="{columnCount}">
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      	<tr class="Footer">
	      		<td>
	       			{first} {prev}  {pagesEnum} {next} {last}
	    			</td>
	    			<td style="text-align:right">Page {currentPage}/{totalPages}</td>
	    		</tr>
	   		</table>
   		</td>
    </tr>
  	<!-- END BLOCK : bottomFooter -->
    <!-- END BLOCK : contentBlock -->
<!-- START BLOCK : closeBlock -->
    </table>

  </td>
</tr>
</table>
<!-- END BLOCK : closeBlock -->