{if $printJSFile}
function popupMenu_{$form->name}( target )
{literal}
{
  try {
    var menu = new leimnud.module.app.menuRight();
    menu.make({
     target: target,
     menu:[
     {/literal}
      {php}$this->assign('firstfield', true);{/php}
      {foreach from=$form->fields item=field key=name}
      {if $field->type==='popupoption'}
        {if !$firstfield},{/if}
        {$field->getEvents()}
        {php}$this->assign('firstfield', false);{/php}
      {/if}
      {/foreach}
     {literal}
     ],
     parent:leimnud
    });
  } catch (e) {
  }
}
{/literal}
{* Javascript TAGs *}
  {foreach from=$form->fields item=field key=name}
  {if $field->type==='javascript'}
    {$field->render('',$form)}
  {/if}
  {/foreach}
{/if}