{if $printTemplate}
{* this is the xmlform template *}
<table class="basicTable" width='100%' cellspacing="0" cellpadding="0">
 <tr>
{*  LEFT MENU  *}
  <td valign='top' class='subMenu' align="{$form->align}">
{foreach from=$form->fields item=field}
{if ($field->type==='javascript')}
      {$field->field}
{elseif ($field->type==='phpvariable')}
{elseif ($field->type==='private')}
{elseif ($field->type==='')}
{else}
{* elseif ($field->type==='link') || ($field->type==='menu') *}
        {$field->field}
{/if}
{/foreach}
  </td>
</tr>
</table>
{/if}