{if $printTemplate}
{* this is the xmlform template *}
<table class="basicTable" width='100%' cellspacing="0" cellpadding="0">
 <tr>
{*  LEFT MENU  *}
  <td valign='top' class='subMenu' width='33%' align="left">
   <table cellspacing="0" cellpadding="0" width='100%'>
    <tr>
{foreach from=$form->fields item=field}
{if (strcasecmp($field->colAlign,'left')===0) || ($field->colAlign==='')}
{if ($field->type==='javascript')}
<script language="javascript">
      {$field->field}
</script>
{elseif ($field->type==='phpvariable')}
{elseif ($field->type==='private')}
{elseif ($field->type==='')}
{else}
{* elseif ($field->type==='link') || ($field->type==='menu') *}
      <td class='subMenu' align="{$field->colAlign}" width="{$field->colWidth}">
        {$field->field}
      </td>
{/if}
{/if}
{/foreach}
      <td class='subMenu'>&nbsp;</td>
    </tr>
   </table>
  </td>
{*  CENTER MENU  *}
  <td valign='top'  class='subMenu' width='33%'>        
   <table cellspacing="0" cellpadding="0" width='100%'>
    <tr>
{foreach from=$form->fields item=field}
{if (strcasecmp($field->colAlign,'center')===0)}
{if ($field->type==='javascript')}
      {$field->field}
{elseif ($field->type==='phpvariable')}
{elseif ($field->type==='private')}
{elseif ($field->type==='')}
{else}
{* elseif ($field->type==='link') || ($field->type==='menu') *}
      <td class='subMenu' align="{$field->colAlign}" width="{$field->colWidth}">
        {$field->field}
      </td>
{/if}
{/if}
{/foreach}
    </tr>
   </table>
  </td>
{*  RIGHT MENU  *}
  <td valign='top'>        
   <table cellspacing="0" cellpadding="0" width='100%' align="right">
    <tr>
      <td class='subMenu'>&nbsp;</td>
{foreach from=$form->fields item=field}
{if (strcasecmp($field->colAlign,'right')===0)}
{if ($field->type==='javascript')}
      {$field->field}
{elseif ($field->type==='phpvariable')}
{elseif ($field->type==='private')}
{elseif ($field->type==='')}
{else}
{* elseif ($field->type==='link') || ($field->type==='menu') *}
      <td class='subMenu' align="{$field->colAlign}" width="{$field->colWidth}">
        {$field->field}
      </td>
{/if}
{/if}
{/foreach}
    </tr>
   </table>
  </td>
</tr>
</table>
{/if}