<!DOCTYPE html>
<head>
    <!-- translations -->
    <script type="text/javascript" src="{$translationMafe}"></script>

{if $isDebugMode}
    <!-- files that are built into pmui.css-->
    {foreach from=$pmuiCssCacheFile item=file}
    <link rel="stylesheet" type="text/css" href="/lib-dev/pmUI/{$file}" />
    {/foreach}
    <!-- files that are built into mafe.css-->
    {foreach from=$mafeCssFiles item=file}
    <link rel="stylesheet" type="text/css" href="/lib-dev/mafe/{$file}" />
    {/foreach}

    <link rel="stylesheet" type="text/css" href="/lib-dev/css/jquery.layout.css" />
    <link rel="stylesheet" type="text/css" href="/lib-dev/css/jquery-ui-1.10.3.custom.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/lib/css/jquery.dataTables.css">-->

    <script type="text/javascript">
        var prj_uid = "{$prj_uid}";
        var app_uid = "{$app_uid}";
        var consolidated = "{$consolidated}";
        var enterprise = "{$enterprise}";
        var prj_readonly = "{$prj_readonly}";
        var credentials = "{$credentials}";
        var distribution = "{$distribution}";
    </script>
    <script type="text/javascript" src="/lib-dev/js/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/underscore-min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery.layout.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/restclient.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/modernizr.js"></script>

    <!-- files that are built into pmui.js-->
    {foreach from=$pmuiJsCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/pmUI/{$file}"></script>
    {/foreach}

    <!-- files that are built into mafe.js-->
    {foreach from=$mafeJsFiles item=file}
    <script type="text/javascript" src="/lib-dev/mafe/{$file}"></script>
    {/foreach}
    <!-- files that are built into designer.js-->
    {foreach from=$designerCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/mafe/{$file}"></script>
    {/foreach}

    <!-- tinyMCE -->
    <script type="text/javascript" src="/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

    <!-- CodeMirror -->
    <script type="text/javascript" src="/js/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/codemirror/lib/codemirror.css"/>
    <script type="text/javascript" src="/js/codemirror/mode/javascript/javascript.js"></script>

    <script type="text/javascript" src="/js/codemirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/css/css.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/clike/clike.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/php/php.js"></script>

{else}

    <link rel="stylesheet" type="text/css" href="/lib/css/mafe-{$buildhash}.css" />
    <script type="text/javascript">
        var prj_uid = "{$prj_uid}";
        var app_uid = "{$app_uid}";
        var consolidated = "{$consolidated}";
        var enterprise = "{$enterprise}";
        var prj_readonly = "{$prj_readonly}";
        var credentials = "{$credentials}";
        var distribution = "{$distribution}";
    </script>
    <script type="text/javascript" src="/lib/js/mafe-{$buildhash}.js"></script>

{/if}


</head>
<body onresize="resizingFrame();">
<!--<div class="ui-layout-north">-->
     <div class="loader"></div>
     <section class="navBar" id="idNavBar">
        <div class="head"></div>
        <nav>
            <ul>
                <li><a class="mafe-close" href="#" ><span class="mafe-button-close" ></span></a></li>
                <li><a class="mafe-help" href="#" ><span class="mafe-toolbar-help" ></span></a></li>
                <li class="mafe-save-process"><a href="#" class="mafe-button-save"></a>
                    <span class="mafe-button-menu"><img src="/lib/img/caret-down.png"/></span>
                </li>
                <li><a href="#" class="mafe-button-export-process"></a></li>
                <li><a class="mafe-button-export-bpmn-process"></a></li>
                <li><span class="mafe-zoom-options"></span></li>
                <li class="mafe-undo"><a href="#"><span class="mafe-button-undo"></span></a></li>
                <li class="mafe-redo"><a href="#"><span class="mafe-button-redo"></span></a></li>
                <li><a href="#" title="" class="mafe-button-fullscreen"></a></li>
                <li></li>
            </ul>
        </nav>

    </section>
    <div class="bpmn_shapes">
    </div>
<!--</div>-->
<div id="p-center-layout"/>
    <!--BODY-->
    <div class="ui-layout-center tab-content" id="div-layout-canvas">
    </div>

    <section class="content" id="idContent">

        <div class="content_controls">
            <div class="head"></div>
            <ul>
                    <li>
                        <a href="#" class="mafe-menu-variable"></a>
                    <a href="#" class="btn_create mafe-menu-variable-create"><span></span></a>
                </li>
                <!--<li>
                    <a href="#" class="mafe-menu-eventmessages"></a>
                    <a href="#" class="btn_create mafe-menu-eventmessages-create"><span></span></a>
                </li>-->
                <li>
                    <a href="#" class="mafe-menu-messagetype"></a>
                    <a href="#" class="btn_create mafe-menu-messagetype-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-dynaform"></a>
                    <a href="#" class="btn_create mafe-menu-dynaform-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-inputdocuments"></a>
                    <a href="#" class="btn_create mafe-menu-inputdocuments-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-outputdocuments"></a>
                    <a href="#" class="btn_create mafe-menu-outputdocuments-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-triggers"></a>
                    <a href="#" class="btn_create mafe-menu-triggers-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-reporttables"></a>
                    <a href="#" class="btn_create mafe-menu-reporttables-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-databaseconnections"></a>
                    <a href="#" class="btn_create mafe-menu-databaseconnections-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-templates"></a>
                    <a href="#" class="btn_create mafe-menu-templates-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-public"></a>
                    <a href="#" class="btn_create mafe-menu-public-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-permissions"></a>
                    <a href="#" class="btn_create mafe-menu-permissions-create"><span></span></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-casetracker"></a>
                </li>
                <li>
                    <a href="#" class="mafe-menu-supervisors"></a>
                </li>
            </ul>
        </div>
        <div class="bpmn_shapes_legend">
            <div class="head"></div>
        </div>
    </section>
    
</body>