<!DOCTYPE html>
<head>
    <!-- translations -->
    <script type="text/javascript" src="{$translationMafe}"></script>

{if $isDebugMode}
    <!-- files that are built into pmui.css-->
    {foreach from=$pmuiCssCacheFile item=file}
    <link rel="stylesheet" type="text/css" href="/lib-dev/pmUI/{$file}" />
    {/foreach}
    <!-- files that are built into mafe.css-->
    {foreach from=$mafeCssFiles item=file}
    <link rel="stylesheet" type="text/css" href="/lib-dev/mafe/{$file}" />
    {/foreach}

    <link rel="stylesheet" type="text/css" href="/lib-dev/css/jquery.layout.css" />
    <link rel="stylesheet" type="text/css" href="/lib-dev/css/jquery-ui-1.10.3.custom.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/lib/css/jquery.dataTables.css">-->

    <script type="text/javascript">
        var prj_uid = "{$prj_uid}";
        var app_uid = "{$app_uid}";
        var consolidated = "{$consolidated}";
        var enterprise = "{$enterprise}";
        var prj_readonly = "{$prj_readonly}";
        var credentials = "{$credentials}";
        var distribution = "{$distribution}";
        var SYS_SYS = "{$SYS_SYS}";
        var SYS_LANG = "{$SYS_LANG}";
        var SYS_SKIN = "{$SYS_SKIN}";
        var HTTP_SERVER_HOSTNAME = "{$HTTP_SERVER_HOSTNAME}";
    </script>
    <script type="text/javascript" src="/lib-dev/js/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/underscore-min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery.layout.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/restclient.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/modernizr.js"></script>

    <!-- files that are built into pmui.js-->
    {foreach from=$pmuiJsCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/pmUI/{$file}"></script>
    {/foreach}

    <!-- files that are built into mafe.js-->
    {foreach from=$mafeJsFiles item=file}
    <script type="text/javascript" src="/lib-dev/mafe/{$file}"></script>
    {/foreach}
    <!-- files that are built into designer.js-->
    {foreach from=$designerCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/mafe/{$file}"></script>
    {/foreach}

    <!-- tinyMCE -->
    <script type="text/javascript" src="/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

    <!-- CodeMirror -->
    <script type="text/javascript" src="/js/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/codemirror/lib/codemirror.css"/>
    <script type="text/javascript" src="/js/codemirror/mode/javascript/javascript.js"></script>

    <script type="text/javascript" src="/js/codemirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/css/css.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/clike/clike.js"></script>
    <script type="text/javascript" src="/js/codemirror/mode/php/php.js"></script>

{else}

    <link rel="stylesheet" type="text/css" href="/lib/css/mafe-{$buildhash}.css" />
    <link rel="stylesheet" type="text/css" href="/css/{$sys_skin}-pm3.css" />
    {foreach from=$sourceCss item=pathFile}
    <link rel="stylesheet" type="text/css" href="{$pathFile}" />
    {/foreach}
    <script type="text/javascript">
        var prj_uid = "{$prj_uid}";
        var app_uid = "{$app_uid}";
        var consolidated = "{$consolidated}";
        var enterprise = "{$enterprise}";
        var prj_readonly = "{$prj_readonly}";
        var credentials = "{$credentials}";
        var distribution = "{$distribution}";
        var SYS_SYS = "{$SYS_SYS}";
        var SYS_LANG = "{$SYS_LANG}";
        var SYS_SKIN = "{$SYS_SKIN}";
        var HTTP_SERVER_HOSTNAME = "{$HTTP_SERVER_HOSTNAME}";
    </script>
    <script type="text/javascript" src="/lib/js/mafe-{$buildhash}.js"></script>
    {foreach from=$sourceJs item=pathFile}
    <script type="text/javascript" src="{$pathFile}"></script>
    {/foreach}

{/if}


</head>
<body onresize="resizingFrame();">
<!--<div class="ui-layout-north">-->
     <div class="loader"></div>
     <section class="navBar" id="idNavBar">
        <div class="head"></div>
        <nav>
            <ul id="idNavBarList">

            </ul>
        </nav>

    </section>
    <div class="bpmn_shapes">
    </div>
<!--</div>-->
<div id="p-center-layout"/>
    <!--BODY-->
    <div class="ui-layout-center tab-content" id="div-layout-canvas">
    </div>

    <section class="content" id="idContent">

        <div class="content_controls">
            <div class="head"></div>
            <ul id="contentControlList">
                
            </ul>
        </div>
        <div class="bpmn_shapes_legend">
            <div class="head"></div>
        </div>
    </section>
<SCRIPT src="/jscore/src/PM.js" type=text/javascript></SCRIPT>
<SCRIPT src="/jscore/src/Sessions.js" type=text/javascript></SCRIPT>
</body>