<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ProcessMaker Rule" stopProcessing="true">
                    <match url="^.*/(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="app.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
