<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ProcessMaker Rule" stopProcessing="true">
                    <match url="^.*/(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="app.php" />
                </rule>
            </rules>
			<outboundRules rewriteBeforeCache="false">
                <clear />
                <rule name="add doc.dom" preCondition="isHTML and referrer is GLPI" enabled="true" stopProcessing="false">
                    <match filterByTags="None" pattern="&lt;script" occurrences="1" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="&lt;script type='text/javascript'>document.domain='mydomain.com';&lt;/script>&lt;script" />
                </rule>
                <rule name="add modif CSSRules" preCondition="isHTML and referrer is GLPI" enabled="true" stopProcessing="false">
                    <match filterByTags="None" pattern="href\s*=\s*&quot;/lib/css/mafe-[0-9a-z]+-[0-9a-z]+\.css&quot;\s*/>" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" value="{R:0}&lt;script type='text/javascript' src='/glpi/fixfilter.js'>&lt;/script>" />
                </rule>
                <rule name="add classList and object-watch" preCondition="isHTML and referrer is GLPI" enabled="true" stopProcessing="false">
                    <match filterByTags="None" pattern="src\s*=\s*&quot;/lib/js/mafe-[0-9a-z]+-[0-9a-z]+\.js&quot;\s*>" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" value="src='/glpi/classlist.js'>&lt;/script>&lt;script type='text/javascript' src='/glpi/object-watch.js'>&lt;/script>&lt;script type='text/javascript' {R:0}" />
                </rule>
                <preConditions> 
                    <preCondition name="isHTML and referrer is GLPI">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                        <add input="{HTTP_X_ORIGINAL_URL}" pattern="^/sys[^/]+/[^/]+/glpi_[^/]+/" />
                    </preCondition>
                </preConditions>
                <customTags>
                </customTags>
            </outboundRules>  
		</rewrite>
    </system.webServer>
</configuration>
