{foreach from=$menus item=field key=name}
{if $field.icon neq ""}
<td  id="{$field.idName}" height="23" align="center" valign="middle" nowrap="nowrap" class="{$field.classname}"><a href="{$field.target}" class="{$field.classname}">&nbsp;<img src="{$field.icon}" border="0" valing="middle">&nbsp;<b>{$field.label}</b>&nbsp;&nbsp;</a></td>
{else}
<td  id="{$field.idName}" height="23" align="center" valign="middle" nowrap="nowrap" class="{$field.classname}"><a href="{$field.target}" class="{$field.classname}">&nbsp;&nbsp;<b>{$field.label}</b>&nbsp;&nbsp;</a></td>
{/if}
{/foreach}