/* Theme processmaker */
.app_menuRight_container___processmaker
{
	position:absolute;
	border:1px solid #28427E;
	background-color:#FBFFF2;
	overflow:hidden;
	z-index:10000;
}
.app_menuRight_shadow___processmaker
{
	position:absolute;
	border:1px solid black;
	background-color:black;
	overflow:hidden;
	z-index:9999;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.app_menuRight_separator___processmaker
{
	padding:0;
	margin:0;
	position:relative;
	cursor:default;
	border-top:1px solid #28437E;
	border-bottom:1px solid white;
	overflow:hidden;
}
.app_menuRight_option___processmaker, .app_menuRight_option_over___processmaker
{
	padding:0;
	margin:0;
	position:relative;
	cursor:default;
	color:black;
	background-color:"";
	height:29;
	overflow:hidden;
	border:0px solid #FBFFF2;
}
.app_menuRight_option_over___processmaker
{
	//background-image:url(/images/onmouseSilver.jpg);
	background-color:#D6D6D6;
	background-repeat:repeat-x;
}
.app_menuRight_option_image___processmaker, .app_menuRight_option_image_over___processmaker
{
	width	:26;
	height	:31;
	padding	:0;
	position:absolute;
	overflow:hidden;
	cursor	:default;
	left	:0;
	top	:0;
	background-color:#D6D6D6;
	border-right:1px solid #C3C0BB;
}
.app_menuRight_option_image_over___processmaker
{
	background:transparent;
	border-right:0px solid white;
}
.app_menuRight_option_image_element___processmaker
{
	position:absolute;
	top:2;
}
.app_menuRight_option_text___processmaker
{
	padding	:0;
	font	:normal 8pt Tahoma,MiscFixed;
	position:absolute;
	cursor	:default;
	left	:30;
	top	:8;
	overflow:hidden;
}

/* leimnud.app.menuRight CSS end */

/* Processmaker CSS  begin */
.pm_separator___processmaker
{

}
.pm_separatorOn___processmaker
{

}
.pm_separatorOff___processmaker,.pm_separatorOn___processmaker
{
	height: 7px;
	cursor:pointer;
	text-align:center;
	overflow:hidden;
}
.pm_separatorDOff___processmaker,.pm_separatorDOn___processmaker, .pm_separatorOver___processmaker, .pm_separatorOut___processmaker
{
	height:7px;
	width:100%;
	background-color:#C1D2EE;
	background-color:buttonface;
	border-color:buttonhighlight buttonshadow buttonshadow buttonhighlight;
	border-style:solid;
	border-width:1px 0pt;
	overflow:hidden;
}
.pm_separatorDOff___processmaker
{
	background:url(../core/images/separator.up.gif);
	background-repeat:no-repeat;
	background-position:50% 2;

}
.pm_separatorDOn___processmaker
{
	background:url(../core/images/separator.down.gif);
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.pm_separatorOver___processmaker
{
	background-color:#C1D2EE;
}
.pm_separatorOut___processmaker
{
	background-color:buttonface;
}

/* Processmaker CSS  end */
/* processmap Theme.Task begin */
/*theme firefox begin*/
.processmap_task___firefox
{
	position	: absolute;
	height		: 30;
	width		: 150;
	background-color: #006699;
	border		: 1px solid #006699;
	z-index		: 10;
	overflow	: hidden;
	cursor		: move;
}
.processmap_task_label___firefox
{
	color:white;
	text-align:center;
	cursor:text;
	padding-top:11;
}
.processmap_text___firefox
{
	position	: absolute;
	cursor		: move;
	background-color:red;
}
.processmap_title___firefox
{

}
	/*theme firefox end*/

	/*theme processmap begin*/
.processmap_task___processmaker
{
	position	: absolute;
	height		: 40;
	height		: 38;
	width		: 171;
	width		: 164;
	z-index		: 10;
	overflow	: hidden;
	cursor		: move;
	/*background	: url(/core/jscripts/processmap/core/images/bg_task.gif);
	background	: url(/images/fondotask.png);*/
	//background-color:#006699;
	//background-color:#6F6F6F;
	background	: url(/images/borderTask.gif);
	background-color:#0576C4;
	vertical-align:middle;
	display:table-cell;
}
.processmap_task_label___processmaker
{
	color:#FFF;
	text-align:center;
	/*position:absolute;*/
	margin:10;
	vertical-align:middle;
	cursor:move;
}
.processmap_text___processmaker
{
	position	: absolute;
	z-index		: 10;
	cursor		: move;
	font		: bold 8pt Tahoma,MiscFixed;
}
.processmap_title___processmaker
{
	position	:absolute;
	cursor		:move;
	font		:bold 13pt Tahoma,MiscFixed;
}
	/*theme processmap end*/
/* processmap Theme.Task end */

/* processmap Theme.Panels begin */
.panel_containerWindow___processmaker{
	border: 1px solid #C0C0C0;
	border: 1px solid #1983BD;
	border: 1px solid #66667E;
	oveflow:hidden;
	/*border: 1px solid #5394BF;
	border-left:1px solid #8BBDDF;
	border-top:1px solid #8BBDDF;*/
}
.panel_iframe___processmaker{
	width:100%;
	height:100%;
	position:absolute;
	background-color:white;
	overflow:hidden;
	z-index:1;
	top:0px;
	left:0px;
}
.panel_backend___processmaker{
	width:100%;
	height:100%;
	position:absolute;
	background-color:white;
	overflow:hidden;
	z-index:1;
	top:0px;
	left:0px;
}
.panel_frontend___processmaker{
	/*width: 100%;*/
	height: 100%;
	position: absolute;
	background-color: #E8F2F7;
	background-color:#E0DFE3;
	/*background-color:#59A5D9;*/
	overflow: hidden;
	padding:0px;
	margin:0px;
	z-index: 2;
	top: 0px;
	left: 0px;
}
.panel_titleBar___processmaker{
	position:relative;
	height:23px;
	overflow:hidden;
	background-color:white;
	background-image: url('/images/panel_title.jpg');
	background-image: url('../core/images/panel.bg.title.1x23.gif');
	background-repeat:repeat-x;
	background-position:0 -1;
	border-bottom:0px solid #DBE0E5;
}
.panel_title___processmaker{
	text-align: center;
	/*width: 100%;*/
	height: 23px;
	color: #000;
	/*color:#FFF;*/
	font: bold 8pt tahoma, MiscFixed;
	padding-left: 5px;
	padding-top: 5px;
	z-index: 1;
}
.panel_close___processmaker{
	position:absolute;
	top:4px;
	font:normal 0pt tahoma;
	padding:0px;
	border:0px solid red;
	z-index:2;
	cursor:pointer;
	background:url(../core/images/panel.close.static.gif);
}
.panel_roll___processmaker{
	position:absolute;
	top:4px;
	font:normal 0pt tahoma;
	padding:0px;
	border:0px solid red;
	z-index:2;
	cursor:pointer;
	background:url(../core/images/roll.static.gif);
	background-repeat:no-repeat;
}
.panel_resize___processmaker{
	position:absolute;
	right:1px;
	bottom:1px;
	width:11px;
	height:11px;
	overflow:hidden;
	background:url(../core/images/panel.resize.11x11.png?rand=234);
	background-repeat:no-repeat;
}
.
.panel_headerBar___processmaker{
	position:relative;
	height:25px;
	overflow:hidden;
	background-color:transparent;
}
.panel_shadow___processmaker{
	position:absolute;
	background-color:#c0c0c0;
}
.panel_tab___processmaker{
	position:absolute;
	z-index:3;
	overflow:hidden;
}


.panel_tabH___processmaker{
	position:absolute;
}
.panel_tabOptionH___processmaker{
	text-align:center;
	font:normal 8pt Tahoma,MiscFixed;
	position:absolute;
	cursor:pointer;
	border:1px solid #919B9C;
	background-color:#F9F9F9;
	color:black;
	height:20px;
	max-height:9px;
	overflow:hidden;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
.panel_tabOptionOverH___processmaker{
	cursor:pointer;
}
.panel_tabOptionSelectedH___processmaker, .panel_tabOptionOverH___processmaker, .panel_tabOptionSelectedOverH___processmaker{
	font:normal 8pt Tahoma,MiscFixed;
	border: 1px solid #FF9900;
	border: 1px solid #919B9C;
	border-bottom:1px solid #F9F9F9;
	border-top-color:#E68B2C;
	background-color: #FBFFF2;
	background-color: #F9F9F9;
	color:#000000;
	text-align: center;
	position: absolute;
	background-image: url('../core/images/panel.tabSelected.1x3.gif');
	background-repeat:repeat-x;
	background-position:0 -1;
	height:22px;
	max-height:10px;
	overflow:hidden;
/*	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;*/

}
.panel_tabOptionSelectedOverH___processmaker{
}




.panel_tabOption___processmaker{
	text-align:left;
	font:normal 8pt Tahoma,MiscFixed;
	border:1px solid #A3A2BC;
	border: 1px solid #FF9900;
	position:absolute;
	background-color:#FFE6BF;
	cursor:pointer;
	color:black;
}
.panel_tabOptionOver___processmaker{
	font:normal 8pt Tahoma,MiscFixed;
	cursor:pointer;
	text-align:left;
	border:1px solid #FF9900;
	color:#666666;
	background-color:white;
}
.panel_tabOptionSelected___processmaker, .panel_tabOptionSelectedOver___processmaker{
	font:bold 8pt Tahoma,MiscFixed;
	border: 1px solid #FF9900;
	border-right:1px solid #FFF;
	background-color: #FBFFF2;
	color:#000000;
	text-align: left;
	position: absolute;

}
.panel_tabOptionSelectedOver___processmaker{
	color:#EA560F;


}
.panel_content___processmaker{
	position: relative;
	color: black;
	font: normal 8pt Tahoma,MiscFixed;
	text-align: justify;
	border: 1px solid #A3A2BC;
	border: 1px solid #FF9900;
	border: 1px solid #919B9C;
	/*border-left:1px solid #1983BD;
	border-top:1px solid #1983BD;
	border-right:1px solid #59A5D9;
	border-bottom:1px solid #59A5D9;*/
	background-color: #E8F2F7;
	background-color: #FFFFFF;
	background-color: #F9F9F9;
	overflow: auto;
	padding:0px;
	margin:0px;
}
.panel_statusBar___processmaker{
	position:relative;
	overflow:hidden;
	width:100%;
	font:normal 8pt Tahoma,MiscFixed;
	padding:0px;
	margin:0px;
	height:20px;
	/*background-color:white;*/
	background-color:transparent;
}
.panel_status___processmaker
{
	text-align:center;
	padding:2;
	padding-left:5px;
	color:#666666;
	height:100%;
}
/* processmap Theme.Panels end */