<style>
.details{
    padding: 10px;
    text-align: center;
}
.details-info{
    border: 1px solid #cccccc;
    font: 11px Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}
.details-info table tr td{
    border: 1px solid #cccccc;
    font: 11px Arial, Helvetica, sans-serif;
    align: center;
}
.details-info b{
    color: #555555;
    display: block;
    margin-bottom: 4px;
}
.details-info span{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}
.details-info h1{
    display: block;
    padding: 5px;
    border: 1px solid #cccccc;
}

</style>

<div scroll="no" id="docs">


<div id="header"></div>

<div id="classes"></div>

<div id="main"></div>

</div>
<div id="containerStartpage" style=""></div>
<div id='msg-div'></div>
