{literal}
<style>
ul.debug-node {
background-color:white;
margin:0px;
padding:0px;
}
ul.debug-node ul {
margin-left:20px;
}
* html ul.debug-node ul {
margin-left:24px;
}
div.debug-root {
border:1px solid black;
margin:1em 0em;
text-align:left;
}
ul.debug-first {
border:1px solid white;
font-family:tahoma,verdana;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
li.debug-child {
display:block;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0px;
overflow:hidden;
padding:0px;
}
div.debug-element {
background-color:white;
background-image:url(/Krumo/skins/schablon.com/empty.gif);
background-position:6px 5px;
background-repeat:no-repeat;
clear:both;
cursor:default;
display:block;
padding:2px 0px 3px 20px;
white-space:nowrap;
}
* html div.debug-element {
line-height:13px;
padding-bottom:3px;
}
div.debug-expand {
background-image:url(/Krumo/skins/schablon.com/collapsed.gif);
cursor:pointer;
}
div.debug-hover {
background-color:#BFDFFF;
}
div.debug-opened {
background-image:url(/Krumo/skins/schablon.com/expanded.gif);
}
a.debug-name {
color:navy;
font-family:courier new;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:12px;
}
a.debug-name big {
font-family:Georgia;
font-size:16pt;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
left:-2px;
line-height:10px;
position:relative;
top:2px;
}
* html a.debug-name big {
float:left;
font-family:Georgia;
font-size:15pt;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
left:0px;
line-height:normal;
margin:0px;
padding:0px;
top:-5px;
}
em.debug-type {
font-style:normal;
margin:0px 2px;
}
div.debug-preview {
background:lightyellow none repeat scroll 0%;
border:1px solid #808000;
font-family:courier new;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:5px 1em 1em 0px;
overflow:auto;
padding:5px;
}
* html div.debug-preview {
padding-top:2px;
}
li.debug-footnote {
background:white url(/Krumo/skins/schablon.com/dotted.gif) repeat-x scroll 0%;
cursor:default;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:4px 5px 3px;
}
* html li.debug-footnote {
line-height:13px;
}
div.debug-version {
float:right;
}
li.debug-footnote h6 {
color:navy;
display:inline;
font-family:verdana;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0px;
padding:0px;
}
* html li.debug-footnote h6 {
margin-right:3px;
}
li.debug-footnote a {
color:#434343;
font-family:arial;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
text-decoration:none;
}
li.debug-footnote a:hover {
color:black;
}
li.debug-footnote span.debug-call {
font-family:tahoma,verdana;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
position:relative;
top:1px;
}
li.debug-footnote span.debug-call code {
font-weight:bold;
}
div.debug-title {
cursor:default;
font-family:tahoma,verdana;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:2px;
position:relative;
top:9px;
}
strong.debug-array-length, strong.debug-string-length {
color:#000099;
font-weight:normal;
}
</style>
{/literal}

<div class="debug-root">
	<ul class="debug-node debug-first">
		<li class="debug-child">

	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">Application</a>
			(<em class="debug-type"><strong class="debug-array-length">{$APP_UID}</strong></em>)
			<strong class="debug-string">{$APP_STATUS} </strong>
			<strong class="debug-array-length">{$APP_NUMBER}</strong></em>

	</div>

	<div style="display: block;" class="debug-nest">
	<ul class="debug-node">
	<li class="debug-child">

	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">properties</a>
			(<em class="debug-type">Array, <strong class="debug-array-length">7 elements</strong></em>)
	</div>
	<div style="display: none;" class="debug-nest">
	<ul class="debug-node">
	<li class="debug-child">

	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_TITLE</a>	(<em class="debug-type">
  	  <strong class="debug-array-length">{$APP_NUMBER}</strong></em>)
			<strong class="debug-string">{$APP_TITLE}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_STATUS</a>	(<em class="debug-type">
  	  <strong class="debug-array-length">{$APP_STATUS}</strong></em>)
			<strong class="debug-string">{$STATUS}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">PRO_TITLE</a>	(<em class="debug-type">
  	  <strong class="debug-array-length">{$PRO_UID}</strong></em>)
			<strong class="debug-string">{$PRO_TITLE}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_INIT_USER</a>	(<em class="debug-type">
  	  <strong class="debug-array-length">{$APP_INIT_USER}</strong></em>)
			<strong class="debug-string">{$CREATOR}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_CUR_USER</a>	(<em class="debug-type">
  	  <strong class="debug-array-length">{$APP_CUR_USER}</strong></em>)
			<strong class="debug-string">{$CUR_USER}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_PARALLEL</a>	(<em class="debug-type">Integer</em>)
			<strong class="debug-string">{$APP_PARALLEL}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_PIN</a>	(<em class="debug-type">Integer</em>)
			<strong class="debug-string">{$APP_PIN}</strong>
	</div>
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
  	<a class="debug-name">APP_PROC_CODE</a>	(<em class="debug-type">Integer</em>)
			<strong class="debug-string">{$APP_PROC_CODE}</strong>
	</div>

</li>
</ul>
</div>
</li>

<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">delegations</a>
			(<em class="debug-type">Array, <strong class="debug-array-length">{$CANT_DELEGATIONS} elements</strong></em>)
	</div>
	<div style="display: block;" class="debug-nest">
	<ul class="debug-node">
	{foreach key=id item=data from=$DELEGATIONS}
	<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">{$data.DEL_INDEX}</a>
	  		[<em class="debug-type">thread:</em>
	  		<strong class="debug-string">{$data.DEL_THREAD}</strong>]
	  		[<em class="debug-type">thread status:</em>
	  		<strong class="debug-array-length">{$data.DEL_THREAD_STATUS}</strong>]
	  		[<em class="debug-type">type:</em>
	  		<strong class="debug-string">{$data.DEL_TYPE}</strong>]
	  		[<em class="debug-type">user:</em>
	  		<strong class="debug-string">{$data.USR_NAME}</strong>]
	  		[<em class="debug-type">task:</em>
	  		<strong class="debug-string">{$data.TAS_TITLE}</strong>]
	</div>
	<div style="display: none;" class="debug-nest">
	<ul class="debug-node">
	<li class="debug-child">
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_PREVIOUS</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">integer</strong></em>)
	  		<strong class="debug-string">{$data.DEL_PREVIOUS}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">TAS_UID</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">{$data.TAS_UID}</strong></em>)
	  		<strong class="debug-string">{$data.TAS_TITLE}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">USR_UID</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">{$data.USR_UID}</strong></em>)
	  		<strong class="debug-string">{$data.USR_NAME}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_TYPE</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">string</strong></em>)
	  		<strong class="debug-string">{$data.DEL_TYPE}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_THREAD</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">integer</strong></em>)
	  		<strong class="debug-string">{$data.DEL_THREAD}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_THREAD_STATUS</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">string</strong></em>)
	  		<strong class="debug-string">{$data.DEL_THREAD_STATUS}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_PRIORITY</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">string</strong></em>)
	  		<strong class="debug-string">{$data.DEL_PRIORITY}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_DELEGATE_DATE</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">date</strong></em>)
	  		<strong class="debug-string">{$data.DEL_DELEGATE_DATE}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_INIT_DATE</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">date</strong></em>)
	  		<strong class="debug-string">{$data.DEL_INIT_DATE}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_TASK_DUE_DATE</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">date</strong></em>)
	  		<strong class="debug-string">{$data.DEL_TASK_DUE_DATE}</strong>
   	</div>
	  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" class="debug-element">
   	  <a class="debug-name">DEL_FINISH_DATE</a>	(<em class="debug-type">
  	    <strong class="debug-array-length">date</strong></em>)
	  		<strong class="debug-string">{$data.DEL_FINISH_DATE}</strong>
   	</div>
  </li>
	</ul>
  </div>
  </li>
	{/foreach}

	</ul>
  </div>

<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">threads</a>
			(<em class="debug-type">Array, <strong class="debug-array-length">{$CANT_THREADS} elements</strong></em>)
	</div>
	<div style="display: block;" class="debug-nest">
	<ul class="debug-node">
	{foreach key=id item=data from=$THREADS}
	<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-opened">
			<a class="debug-name">{$data.APP_THREAD_INDEX}</a>
	  		[<em class="debug-type">thread status:</em>
	  		<strong class="debug-string">{$data.APP_THREAD_STATUS}</strong>]
	  		[<em class="debug-type">thread parent:</em>
	  		<strong class="debug-array-length">{$data.APP_THREAD_PARENT}</strong>]
	  		[<em class="debug-type">del_index:</em>
	  		<strong class="debug-string">{$data.DEL_INDEX}</strong>]
	</div>
  </li>
	{/foreach}
  </ul>
  </div>
</li>

<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">actions (APP_DELAY)</a>
			(<em class="debug-type">Array, <strong class="debug-array-length">{$CANT_DELAYS} elements</strong></em>)
	</div>
	<div style="display: block;" class="debug-nest">
	<ul class="debug-node">
	{foreach key=id item=data from=$DELAYS}
	<li class="debug-child">
  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="return false;krumo.toggle(this);" class="debug-element debug-opened">
			<!--<a class="debug-name">{$data.APP_TYPE}</a>-->{$data.APP_TYPE}
      [<em class="debug-type">thread index:</em><strong class="debug-string">{$data.APP_THREAD_INDEX}</strong>]
      [<em class="debug-type">delegation index:</em><strong class="debug-string">{$data.APP_DEL_INDEX}</strong>]
      [<em class="debug-type">application status:</em><strong class="debug-string">{$data.APP_STATUS}</strong>]<br />
      [<em class="debug-type">enable action user:</em><strong class="debug-string">{$data.APP_ENABLE_ACTION_USER}</strong>]
      [<em class="debug-type">enable action date:</em><strong class="debug-string">{$data.APP_ENABLE_ACTION_DATE}</strong>]<br />
      [<em class="debug-type">disable action user:</em><strong class="debug-string">{$data.APP_DISABLE_ACTION_USER}</strong>]
      [<em class="debug-type">disable action date:</em><strong class="debug-string">{$data.APP_DISABLE_ACTION_DATE}</strong>]
	</div>
  </li>
	{/foreach}
  </ul>
  </div>
</li>

<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">Sub Cases(SUB_APPLICATION)</a>
			(<em class="debug-type">Array, <strong class="debug-array-length">{$CANT_SUBAPPLICATIONS} elements</strong></em>)
	</div>
	<div style="display: block;" class="debug-nest">
	<ul class="debug-node">
	{foreach key=id item=data from=$SUBAPPLICATIONS}
	<li class="debug-child">
  <div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="return false;krumo.toggle(this);" class="debug-element debug-opened">
			<!--<a class="debug-name">{$data.APP_TYPE}</a>-->{$data.APP_TYPE}
      [<em class="debug-type">case parent:</em><strong class="debug-string">{$data.APP_PARENT}</strong> Case Number: <strong class="debug-array-length">{$data.APP_NUMBER}</strong>] <br>
      [<em class="debug-type">del index parent:</em><strong class="debug-string">{$data.DEL_INDEX_PARENT}</strong>]<br />
      [<em class="debug-type">del thread parent:</em><strong class="debug-string">{$data.DEL_THREAD_PARENT}</strong>]<br />
      [<em class="debug-type">SubCase Status:</em><strong class="debug-string">{$data.SA_STATUS}</strong>]<br />
      [<em class="debug-type">Starting Date:</em><strong class="debug-string">{$data.SA_INIT_DATE}</strong>]
      [<em class="debug-type">Finish Date:</em><strong class="debug-string">{$data.SA_FINISH_DATE}</strong>]
	</div>
  </li>
	{/foreach}
  </ul>
  </div>
</li>

<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-expand debug-opened">
			<a class="debug-name">APP_DATA</a>
			(<em class="debug-type">Array, <strong class="debug-array-length">{$CANT_APP_DATA} elements</strong></em>)
	</div>
	<div style="display: block;" class="debug-nest">
	<ul class="debug-node">
	{foreach key=id item=data from=$APP_DATA}
	<li class="debug-child">
	<div onmouseout="krumo.out(this);" onmouseover="krumo.over(this);" onclick="krumo.toggle(this);" class="debug-element debug-opened">
			<a class="debug-name">{$id}</a>&nbsp;
	  		<strong class="debug-string">{$data}</strong>
	</div>
  </li>
	{/foreach}
  </ul>
  </div>
</li>


</ul>
</div>

{literal}

<script type="text/javascript">
<!--//
/**
* JavaScript routines for Krumo
*
* @version $Id: krumo.js 22 2007-12-02 07:38:18Z Mrasnika $
* @link http://sourceforge.net/projects/krumo
*/

/////////////////////////////////////////////////////////////////////////////

/**
* Krumo JS Class
*/
function krumo() {
 }

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

/**
* Add a CSS class to an HTML element
*
* @param HtmlElement el
* @param string className
* @return void
*/
krumo.reclass = function(el, className) {
 if (el.className.indexOf(className) < 0) {
 el.className += (' ' + className);
 }
 }

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

/**
* Remove a CSS class to an HTML element
*
* @param HtmlElement el
* @param string className
* @return void
*/
krumo.unclass = function(el, className) {
 if (el.className.indexOf(className) > -1) {
 el.className = el.className.replace(className, '');
 }
 }

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

/**
* Toggle the nodes connected to an HTML element
*
* @param HtmlElement el
* @return void
*/
krumo.toggle = function(el) {
 var ul = el.parentNode.getElementsByTagName('ul');
 for (var i=0; i<ul.length; i++) {
 if (ul[i].parentNode.parentNode == el.parentNode) {
 ul[i].parentNode.style.display = (ul[i].parentNode.style.display == 'none')
 ? 'block'
 : 'none';
 }
 }

 // toggle class
 //
 if (ul[0].parentNode.style.display == 'block') {
 krumo.reclass(el, 'krumo-opened');
 } else {
 krumo.unclass(el, 'krumo-opened');
 }
 }

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

/**
* Hover over an HTML element
*
* @param HtmlElement el
* @return void
*/
krumo.over = function(el) {
 krumo.reclass(el, 'krumo-hover');
 }

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

/**
* Hover out an HTML element
*
* @param HtmlElement el
* @return void
*/

krumo.out = function(el) {
 krumo.unclass(el, 'krumo-hover');
 }

/////////////////////////////////////////////////////////////////////////////
//-->
</script>
{/literal}
