<!DOCTYPE html>
<html>
    <head>
        <title>PMDynaform</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/lib/pmdynaform/libs/bootstrap-3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/pmdynaform/build/css/PMDynaform.css">
        <script type="text/javascript" src="/lib/pmdynaform/libs/jquery/jquery-1.11.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/jquery/jquery.inputmask.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/underscore/underscore-1.6.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/backbone/backbone-min.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/restclient/restclient.js"></script>
    </head>
    <body>
        <div id="container"></div>
        ###TEMPLATES###
        <script type="text/javascript" src="/lib/pmdynaform/build/js/PMDynaform.js"></script>
        <script type="text/javascript">
            var jsondata = '{JSON_DATA}';
            var pm_run_outside_main_app = '{PM_RUN_OUTSIDE_MAIN_APP}';
            var dyn_uid = '{DYN_UID}';
            var __DynaformName__ = '{DYNAFORMNAME}';
            var app_uid = '{APP_UID}';
            var prj_uid = '{PRJ_UID}';
            var workspace = '{WORKSPACE}';
            var credentials = {credentials};
        </script>
        <script type="text/javascript" src="/jscore/cases/core/cases_Step.js"></script>
        <script type="text/javascript" src="/jscore/cases/core/cases_Step_Pmdynaform.js"></script>
        <table width="100%" align="center">
            <tr class="userGroupTitle">
                <td width="100%" align="center">{CASE} #: {APP_NUMBER}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{TITLE}: {APP_TITLE}</td>
            </tr>
        </table>
        <div style="width:100%;padding: 0px 10px 0px 10px">
            <img src="/images/bulletButtonLeft.gif" style="float:left;">&nbsp;
            <a id="dyn_backward" href="" style="float:left;">
            </a>
            <img src="/images/bulletButton.gif" style="float:right;">&nbsp;
            <a id="dyn_forward" href="" style="float:right;font-size:12px;line-height:1;margin:0px 5px 1px 0px;">
                Next Step
            </a>
        </div>
    </body>
</html>
