<table width="100%" align="center">
<tr class="userGroupTitle">
	<td width="100%" align="left"><strong>{$CASE}:</strong> {$APP_NUMBER}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{$TITLE}:</strong> {$APP_TITLE} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{$PROCESS}:</strong> {$APP_PROCESS} </td>
</tr>
<tr class="userGroupTitle">
    <td width="100%"  align="left"><strong>{$USER}:</strong> {$USR_USERNAME}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{$WORKSPACE}:</strong> {$USER_ENV} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{$DATELABEL}:</strong> {$DATEPRINT} </td> 
</tr>

</table>