<html>
<body bgcolor="#FFFFFF" text="#000000" link="#000000" vlink="#000000" alink="#999999" marginheight="0" marginwidth="0" leftmargin="0" topmargin="0" rightmargin="0">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="100%" align="center">
		
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding-top: 3px">
<tr>

<td align="center">
<DIV id="publisherContent[0]" style="; margin:0px;" align="center"><form id="bHNTajBhT2lsNUhqMmFUTXc1cXd4SkxSbk5KMzNwwrBvcEY3bzRaMA______" name="cases_Edit" action="cases_Save" class="formDefault" method="post" encType="multipart/form-data" style="margin:0px;" onsubmit="return validateForm('[]');">  <div class="borderForm" style="width:550px; padding-left:0; padding-right:0; border-width:1;">
		<div class="boxTop"><div class="a"></div><div class="b"></div><div class="c"></div></div>
		<div class="content" style="height:100%;" >
	  <table width="99%">
      <tr>
        <td valign='top'>
        <input type="hidden" class="notValidateThisFields" name="__notValidateThisFields__" id="__notValidateThisFields__" value="" />
        <input type="hidden" name="DynaformRequiredFields" id="DynaformRequiredFields" value="[]" />

           <table cellspacing="0" cellpadding="0" border="0" width="100%">
             <tr>
              <td class='FormTitle' align=""><span id='form[TITLE]' name='form[TITLE]' >{START_NEW_CASE}</span></td>
              <td class='FormTitle' align="right"><a class="tableOption" href='../cases/cases_New?change=dropdown'id="form[DESCRIPTION]" name="form[DESCRIPTION]">{CHANGE_LINK}</a></td>

             </tr>
              <!--tr>
              <td class='FormContent' colspan="2" style="padding-left: 24px">Process</td>
              </tr-->
              <tr>
              <td class='' colspan="2">
              	<!-- START BLOCK : CATEGORY_NAME -->
              	<div style='font-weight:bold;	color: black;	padding:2px;'>
              		{CATEGORY_NAME}<BR>
              	</div>
              	 <!-- START BLOCK : CATEGORY_ELEMENT -->
                    <!--&nbsp;&nbsp;&nbsp;{CATEGORY_ELEMENT}<BR-->
                    	<input id="form[TAS_UID][{CATEGORY_UID}]" name="form[TAS_UID]" type="radio" value="{CATEGORY_UID}" ><a href="#" onclick="executeEvent('form[TAS_UID][{CATEGORY_UID}]', 'click'); return false;">{CATEGORY_ELEMENT}</a></input><br>
              	  <!-- END BLOCK : CATEGORY_ELEMENT -->
              	<!-- END BLOCK : CATEGORY_NAME -->
              </td>

              </tr>
                                               <tr>
              <td class='FormButton' colspan="2" align="">
              	<input style="" class='module_app_button___gray ' id="form[START]" name="form[START]" type='submit' value="Start"  /></td>
             </tr>
            </table>
        </td>
      </tr>
    </table>
    		</div>

		<div class="boxBottom"><div class="a"></div><div class="b"></div><div class="c"></div></div>
  </div>
</form>

</DIV></td>
</tr>
</table>
		</td>
	</tr>
</table>
</body>
</html>
<script>
    parent.outerLayout.hide('east');
    parent.PANEL_EAST_OPEN = false;

</script>