<form>
<table width="90%" align="center" cellpadding="0" cellspacing="3" border="0">
<tr><td width="20%" style="background-color:#FF0000;"></td><td width="5%"></td><td>{$sLabel1}</td></tr>
<tr><td width="20%" style="background-color:#006633;"></td><td width="5%"></td><td>{$sLabel2}</td></tr>
<tr><td width="20%" style="background-color:#939598;"></td><td width="5%"></td><td>{$sLabel3}</td></tr>
{if !isset($tracker)}<tr><td width="20%" style="background-color:#FF9900;"></td><td width="5%"></td><td>{$sLabel4}</td></tr>{/if}
</table>
</form>