<!--
<table width="30%" style="margin:0px;" cellspacing="0" cellpadding="0">
		<tr>
			<td >
<div class="boxTopBlue">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>
<div class="boxContentBlue">
	<table width="100%" style="margin:0px;" cellspacing="0" cellpadding="0">
		<tr>
			<td class="userGroupTitle">
				{dynaform}
			</td>
  		</tr>
	</table>
</div>
<div class="boxBottomBlue">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>
</td >
</tr>
</table>
 -->


<!-- START BLOCK : NORESULTS -->
<div class="boxTopBlue">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>
<div class="boxContentBlue">
	{noResults}
</div>
<div class="boxBottomBlue">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>

<!-- END BLOCK : NORESULTS -->

<!-- START BLOCK : DYNLOG -->
<div class="boxTopBlue">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>
<div class="boxContentBlue">
	<table width="100%" style="margin:0px;" cellspacing="0" cellpadding="0">
		<tr>
			<td class="userGroupTitle">
				<table width="100%" style="margin:0px;" cellspacing="0" cellpadding="0">
					<!--
					<tr class="userGroupTitle" style="font-weight:normal;">
						<td>{dynaform}</td><td>{date}</td><td>{user}</td><td>{changes}</td><td></td>
					</tr>
					-->
					<tr class="userGroupTitle">
						<td width="30%">{dynTitle}</td>
						<td width="20%">{dynDate}</td>
						<td width="20%">{dynUser}</td>
						<td width="20%"><div class="userGroupLink"><a href="javascript:toggleTable('{tablename}');">{dynChanges}</a></div></td>
      <td width="10%"><div class="userGroupLink">{viewForm}</div></td>
					</tr>
				</table>
			</td>
  		</tr>
	</table>
</div>
<div class="boxBottomBlue">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>



<table width="100%" border="0" cellspacing="0" class='content' style='display:none' id="{tablename}" name="{tablename}">
<tr><td>
<div class="content">
	<div class="treeChild">
		<table width="100%" border="0" cellspacing="0" class='content'>
			<tr class="userGroupTitle" >
				<td width="20%" style='background-image:url(/js/maborak/core/images/silverBackgroundTableTitle.jpg);background-repeat:repeat-x;border-bottom:0 solid #DFDFDF;color:#5B5B5B;font-weight:bold;height:26px;overflow:hidden;padding:0;'>&nbsp;&nbsp;&nbsp;{fieldNameLabel}</td>
				<td rowspan="{count}">&nbsp;</td>
				<td width="35%" style='background-image:url(/js/maborak/core/images/silverBackgroundTableTitle.jpg);background-repeat:repeat-x;border-bottom:0 solid #DFDFDF;color:#5B5B5B;font-weight:bold;height:26px;overflow:hidden;padding:0;' align="center">{previousValuesLabel}</td>
				<td width="10%" rowspan="{count}" align="center" valign="middle"><img src="/images/flechav1A.png"></td>
				<td width="35%" style='background-image:url(/js/maborak/core/images/silverBackgroundTableTitle.jpg);background-repeat:repeat-x;border-bottom:0 solid #DFDFDF;color:#5B5B5B;font-weight:bold;height:26px;overflow:hidden;padding:0;' align="center">{currentValuesLabel}</td>
			</tr>
			<!-- START BLOCK : FIELDLOG -->
			<tr class="userGroupTitle" style="font-weight:normal;">
				<td width="20%">&nbsp;&nbsp;{fieldName}</td><td width="35%" >&nbsp;&nbsp;{previous}</td><td width="35%" >&nbsp;&nbsp;{actual}</td>
			</tr>
			<!-- END BLOCK : FIELDLOG -->
		</table>
	</div>

</div>

<div class="boxBottom">
	<div class="a"></div>
	<div class="b"></div>
	<div class="c"></div>
</div>

</td>
  </tr>


</table>
<!-- END BLOCK : DYNLOG -->