
<!-- use class="x-hide-display" to prevent a brief flicker of the content -->
<div id="west" class="x-hide-display">
    <div id="tree"></div>
</div>

<div id="props-panel" class="x-hide-display" style="width:200px;height:200px;overflow:hidden;">
</div>
<div id="south" class="x-hide-display">
    <p>south - generally for informational stuff, also could be for status bar</p>
</div>

<iframe  name="casesSubFrame" id="casesSubFrame" src ="" width="100%" frameborder="0">
  <p>Your browser does not support iframes.</p>
</iframe>

  