<!DOCTYPE html>
<html>
    <head>
        <title>PMDynaform</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/lib/pmdynaform/libs/bootstrap-3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/pmdynaform/libs/datepicker/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="/lib/pmdynaform/build/css/PMDynaform.css">
        <link rel="stylesheet" href="/css/{sys_skin}-pm3.css">
        <link rel="stylesheet" href="/lib/pmdynaform/libs/font-awesome-4.6.3/css/font-awesome.min.css">

        <script type="text/javascript" src="/translations/translationsMafe.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/moment/moment.min.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/jquery/jquery-1.11.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/datepicker/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/underscore/underscore-1.8.3.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/backbone/backbone-min.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/html5/html5.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/libs/respondjs/respond.min.js"></script>
    </head>
    <body style="height:100%">
        <div id="container" style="height:100%;display:none;"></div>
        ###TEMPLATES###
        <script type="text/javascript" src="/lib/pmdynaform/libs/underscore/underscore-1.8.3.js"></script>
        <script type="text/javascript" src="/lib/pmdynaform/build/js/PMDynaform.js?v=2.0"></script>
        {javascript}
    </body>
</html>
