<table width="100%" cellpadding="10" cellspacing="0" style="background: #FFFFFF; font: 11px arial, verdana, helvetica, sans-serif;">
    <tr>
        <td style="font-size: 14px;">
            <strong>UNASSIGNED CASE</strong>
            <hr />
        </td>
    </tr>
    <tr>
        <td>
            The case <strong>#@#APP_NUMBER</strong> is available on the unassigned list.
            <br />
            <br />
            Note: If you want to claim the case and it is not available on the list, it might be already taken.
        </td>
    </tr>
    <tr>
        <td>
            <hr />
            This Business Process is powered by ProcessMaker.
            <br />
            <a href="http://www.processmaker.com" style="color: #C40000;">www.processmaker.com</a>
        </td>
    </tr>
</table>