<table width="100%" cellpadding="10" cellspacing="0" style="background: #FFFFFF; font: 11px arial, verdana, helvetica, sans-serif;">
    <tr>
        <td style="font-size: 14px;">
            <strong>CASO NAO ATRIBUÍDOS</strong>
            <hr />
        </td>
    </tr>
    <tr>
        <td>
            O caso <strong>#@#APP_NUMBER</strong> está disponível na lista não atribuído.
            <br />
            <br />
            Nota: Se você quer reivindicar o caso e ele não está disponível na lista, pode ser já tomadas.
        </td>
    </tr>
    <tr>
        <td>
            <hr />
            Este processo de negócio é alimentado por DocSystem
            <br />
            <a href="http://www.docsystemcorp.com" style="color: #C40000;">www.docsystemcorp.com</a>
        </td>
    </tr>
</table>