/*!
 * Variables
 */
@font-face {
  font-family: 'Open Sans';
  src: url('/skins/neoclassic/fonts/OpenSans-Light-webfont.eot');
  src: url('/skins/neoclassic/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/skins/neoclassic/fonts/OpenSans-Light-webfont.woff') format('woff'), url('/skins/neoclassic/fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('/skins/neoclassic/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/skins/neoclassic/fonts/OpenSans-LightItalic-webfont.eot');
  src: url('/skins/neoclassic/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/skins/neoclassic/fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('/skins/neoclassic/fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('/skins/neoclassic/fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/skins/neoclassic/fonts/OpenSans-Regular-webfont.eot');
  src: url('/skins/neoclassic/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/skins/neoclassic/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('/skins/neoclassic/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('/skins/neoclassic/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/skins/neoclassic/fonts/OpenSans-Italic-webfont.eot');
  src: url('/skins/neoclassic/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/skins/neoclassic/fonts/OpenSans-Italic-webfont.woff') format('woff'), url('/skins/neoclassic/fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('/skins/neoclassic/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/skins/neoclassic/fonts/OpenSans-Semibold-webfont.eot');
  src: url('/skins/neoclassic/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/skins/neoclassic/fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('/skins/neoclassic/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/skins/neoclassic/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/skins/neoclassic/fonts/OpenSans-SemiboldItalic-webfont.eot');
  src: url('/skins/neoclassic/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/skins/neoclassic/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('/skins/neoclassic/fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('/skins/neoclassic/fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/*
@font-face {
    font-family: 'OpenSansBold';
    src: url('/skins/neoclassic/fonts/OpenSans-Bold-webfont.eot');
    src: url('/skins/neoclassic/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/skins/neoclassic/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/skins/neoclassic/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/skins/neoclassic/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('/skins/neoclassic/fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('/skins/neoclassic/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/skins/neoclassic/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('/skins/neoclassic/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('/skins/neoclassic/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

*//*Colores*/
.btn {
  background-image: none;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(to bottom, #ffffff, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
  border-color: #dddddd #dddddd #b7b7b7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #dddddd;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 14px;
  color: #000;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #dddddd;
  *background-color: #d0d0d0;
}
.btn:active,
.btn.active {
  background-color: #c4c4c4 \9;
}
.btn:hover {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
  background-image: -o-linear-gradient(top, #dddddd, #ffffff);
  background-image: linear-gradient(to bottom, #dddddd, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffffffff', GradientType=0);
  border-color: #ffffff #ffffff #d9d9d9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffffff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #aaa;
}
.btn:hover:hover,
.btn:hover:focus,
.btn:hover:active,
.btn:hover.active,
.btn:hover.disabled,
.btn:hover[disabled] {
  color: #333333;
  background-color: #ffffff;
  *background-color: #f2f2f2;
}
.btn:hover:active,
.btn:hover.active {
  background-color: #e6e6e6 \9;
}
.btn:focus {
  border: 1px solid #45626F;
  outline: 0;
}
.btn:focus::-moz-focus-inner {
  border: 1px solid transparent;
}
.btn-over {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
  background-image: -o-linear-gradient(top, #dddddd, #ffffff);
  background-image: linear-gradient(to bottom, #dddddd, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffffffff', GradientType=0);
  border-color: #ffffff #ffffff #d9d9d9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffffff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #aaa;
}
.btn-over:hover,
.btn-over:focus,
.btn-over:active,
.btn-over.active,
.btn-over.disabled,
.btn-over[disabled] {
  color: #333333;
  background-color: #ffffff;
  *background-color: #f2f2f2;
}
.btn-over:active,
.btn-over.active {
  background-color: #e6e6e6 \9;
}
.btn-focus {
  border: 1px solid #45626F;
  outline: 0;
}
.btn-focus::-moz-focus-inner {
  border: 1px solid transparent;
}
.btn-no-button {
  background: none;
  border: 1px transparent solid;
}
.link {
  color: #00a1e4;
  text-decoration: none;
}
.link:hover {
  color: #00597e;
}
.link-hover {
  color: #00597e;
}
/*
botones del tinymce
.o2k7Skin .mceButton{
	.btn();
}
*/html {
  cursor: text;
}
.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}
pre.code,
.editbox {
  color: #666666;
}
.editbox p {
  margin: 0;
}
span.js-punctuation {
  color: #666666;
}
span.js-operator {
  color: #666666;
}
span.js-keyword {
  color: #770088;
}
span.js-atom {
  color: #228811;
}
span.js-variable {
  color: black;
}
span.js-variabledef {
  color: #0000FF;
}
span.js-localvariable {
  color: #004499;
}
span.js-property {
  color: black;
}
span.js-comment {
  color: #AA7700;
}
span.js-string {
  color: #AA2222;
}
