  /** 
   * Main simplified skin styles 
   * @author Erik Amaru Ortiz <erik@colosa.com>
   */

  body {
    margin : 0px;
    color  : #808080;
    font   : normal 11px sans-serif,Tahoma,MiscFixed;
    background-color: #ECECEC;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: #1F98C7;
    text-decoration: underline;
  }

  pre {
    font: normal 12px Georgia, "Times New Roman", Times, serif;
  }


  .global-nav {
    position : fixed;
    left     : 0px;
    top      : 0px;

    width: 100%;
    height: 40px;
    background-color: #252525;
    background-position: 0 0;

/*    background-image: url("/images/twitter_web_sprite_bgs.png");
    background-repeat: repeat-x;*/


    /*background-color: #00A0D1;
    background-image: -moz-linear-gradient(#00A0D1, #008DB8); */

    bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    
    z-index: 0;
  }  

  .ui-widget .ui-widget {
    font-size: 12px !important;
  }

  .bar-nav {
    width: 100%;
    height: 41px;
  }


  .global-nav-table {
    color: #fff;
    /*padding: 5px 5px;*/
  }

  .global-nav-table-right {
    text-align: right;
  }

  iframe { 
    overflow:auto; 
  }
  
  iframe::-webkit-scrollbar {  
    display: auto;
  }
    



.tooltip {
  display:none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:red; 
}


/* index2*/
/* number style */
  #commentlist {
    margin: 10px 0 40px;
    padding: 5;
    text-align: left;
  }
  #commentlist li {
    padding: 10px 0 20px;
    list-style: none;
    border-top: solid 1px #ccc;
    position: relative;
  }
  #commentlist cite {
    font: bold 140%/110% Arial, Helvetica, sans-serif;
    color: #666;
  }
  #commentlist .time {
    color: #ccc;
    margin: 0 0 10px;
  }
  #commentlist .commentnumber {
    position: absolute;
    right: 0;
    top: 8px;
    font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
    color: #ccc;
  }

  #commentlist .notes-link {
    position: absolute;
    right: 0;
    top: 64px;
    font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
    color: #ccc;
  }
  
  #commentlist .notes-plus-link {
    position: absolute;
    right: 0px;
    top: 38px;
    font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
    color: #ccc;
  }
  

  .list-highlight{
    background-color: #e8edf3;
  }


  .content-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    min-height: 20px;
    padding: 12px;
  }


  .appMessages {
    display: none;
    background-color: #EBFFFF;
    padding: 6px 6px 6px 6px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  .appMessage {
    border-top: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
  }

  .appMessageDate {
    font-size: 1p1x; 
    margin: 10px 0px 0px 0px;
  }