  /** 
   * Main simplified skin styles 
   * @author Erik Amaru Ortiz <erik@colosa.com>
   */

  body {
    margin : 0px;
    color  : #808080;
    font   : normal 11px sans-serif,Tahoma,MiscFixed;
    background-color: #ECECEC;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: #1F98C7;
    text-decoration: underline;
  }

  pre {
    font: normal 12px Georgia, "Times New Roman", Times, serif;
  }


  .global-nav {
    position : fixed;
    left     : 0px;
    top      : 0px;

    width: 100%;
    height: 40px;
    background-color: #252525;
    background-position: 0 0;

/*    background-image: url("/images/twitter_web_sprite_bgs.png");
    background-repeat: repeat-x;*/


    /*background-color: #00A0D1;
    background-image: -moz-linear-gradient(#00A0D1, #008DB8); */

    bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    
    z-index: 0;
  }  

  .ui-widget .ui-widget {
    font-size: 12px !important;
  }

  .bar-nav {
    width: 100%;
    height: 41px;
  }


  .global-nav-table {
    color: #fff;
    /*padding: 5px 5px;*/
  }

  .global-nav-table-right {
    text-align: right;
  }

  iframe { 
    overflow:auto; 
  }
  
  iframe::-webkit-scrollbar {  
    display: auto;
  }
    



.tooltip {
  display:none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:red; 
}


/* index2*/
/* number style */
  #commentlist {
    margin: 10px 0 40px;
    padding: 5;
    text-align: left;
  }
  #commentlist li {
    padding: 10px 0 20px;
    list-style: none;
    border-top: solid 1px #ccc;
    position: relative;
  }
  #commentlist cite {
    font: bold 140%/110% Arial, Helvetica, sans-serif;
    color: #666;
  }
  #commentlist .time {
    color: #ccc;
    margin: 0 0 10px;
  }
  #commentlist .commentnumber {
    position: absolute;
    right: 0;
    top: 8px;
    font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
    color: #ccc;
  }

  #commentlist .notes-link {
    position: absolute;
    right: 0;
    top: 64px;
    font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
    color: #ccc;
  }
  
  #commentlist .notes-plus-link {
    position: absolute;
    right: 0px;
    top: 38px;
    font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
    color: #ccc;
  }
  

  .list-highlight{
    background-color: #e8edf3;
  }


  .content-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);*/
    /*-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);*/
    min-height: 20px;
    padding: 12px;
  }


  .appMessages {
    display: none;
    background-color: #EBFFFF;
    padding: 6px 6px 6px 6px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  .appMessage {
    border-top: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
  }

  .appMessageDate {
    font-size: 1p1x; 
    margin: 10px 0px 0px 0px;
  }


  /*
  xBreadcrumbs (Extended Breadcrumbs) jQuery Plugin
  © 2009 ajaxBlender.com
  For any questions please visit www.ajaxblender.com 
  or email us at support@ajaxblender.com
*/

.xbreadcrumbs {
  position: relative;
  z-index: 1000;
}
.xbreadcrumbs LI UL { 
  position: absolute;
  float: left;
}
.xbreadcrumbs, .xbreadcrumbs LI, .xbreadcrumbs UL, .xbreadcrumbs UL LI {
  list-style: none;
  margin: 0;
  padding: 0;
}
.xbreadcrumbs { clear: both; }
.xbreadcrumbs, .xbreadcrumbs LI {
  float: left;
}
.xbreadcrumbs UL {
  display: none;
}

/*  Base style of xBreadcrumbs  */
/*  Top Level  */
.xbreadcrumbs {
  background: #F0F0F0;
  width: 100%;
}
.xbreadcrumbs LI {
  padding: 5px;
  border-right: 1px solid #CECECE;
  height: 16px;
}
.xbreadcrumbs LI.current {
  border-right: none;
}
.xbreadcrumbs LI A {
  font-size: 11px;
  color: #666666;
  text-decoration: none;
}
.xbreadcrumbs LI A:HOVER, .xbreadcrumbs LI.hover A {
  color: #0A8ECC;
}
/*  Top Level - Current Page  */
.xbreadcrumbs LI.current A {
  color: #333333;
  font-weight: bold;
}
/*  Sub-level  */
.xbreadcrumbs LI UL {
  padding: 3px;
  background: #333333;
  font-size: 11px;
  width: 180px;
  top: 25px;
}
.xbreadcrumbs LI UL LI {
  float: left;
  width: 100%;
  border-right: none;
  height: auto;
}
.xbreadcrumbs LI UL LI A {
  text-decoration: none;
  color: #CCCCCC !important;
  display: block;
  padding: 4px;
  border-bottom: 1px dotted #666666;
}
.xbreadcrumbs LI UL LI:last-child A {
  border-bottom: none;
}
.xbreadcrumbs LI UL LI A:HOVER {
    background: #444444;
}

/*******/
.xbreadcrumbs LI {
    border-right: none;
    background: url(/images/simplified/separator.gif) no-repeat right center;
    padding-right: 15px;
    padding-left: 10px;
}
.xbreadcrumbs LI.current { 
  /*background: none;*/
  background: url(/images/simplified/separator.gif) no-repeat right center; 
}
.xbreadcrumbs LI UL LI { background: none; }

.xbreadcrumbs LI A.home {
    background: url(/images/simplified/home.gif) no-repeat left center;
    padding-left: 20px;
    /*font-weight: bold;*/
}

/*  Custom styles for breadcrums (#breadcrumbs-3)  */
.xbreadcrumbs#breadcrumbs-3 {
    background: none;
} 
.xbreadcrumbs#breadcrumbs-3 LI A {
    text-decoration: underline;
    color: #0A8ECC;
}
.xbreadcrumbs#breadcrumbs-3 LI A:HOVER, .xbreadcrumbs#breadcrumbs-3 LI.hover A { text-decoration: none; }
.xbreadcrumbs#breadcrumbs-3 LI.current A {
    color: #333333;
    text-decoration: none;
}
.xbreadcrumbs#breadcrumbs-3 LI {
    border-right: none;
    background: url(/images/simplified/separator-arrow.gif) no-repeat right center;
    padding-right: 15px;
    padding-left: 10px;
}
.xbreadcrumbs#breadcrumbs-3 LI.current { background: none; }
.xbreadcrumbs#breadcrumbs-3 LI UL LI { background: none; padding: 0;  }


STRONG { color: #000000; }
.vspacer {
    height: 20px;
}
PRE.code {
    padding: 7px;
    background: #777777;
    color: #F0F0F0;
    width: 400px;
    overflow: auto;
}