<body>
    <!-- use class="x-hide-display" to prevent a brief flicker of the content -->
    <div id="west" class="x-hide-display">
        <p>Hi. I'm the west panel.</p>
    </div>
    <div id="center2" class="x-hide-display">
        center 2
    </div>
    <div id="center1" class="x-hide-display">
        center 1
    </div>
    <div id="props-panel" class="x-hide-display" >
    </div>
    <div id="north" class="x-hide-display">
        <p>north - generally for informational stuff, also could be for status bar</p>
    </div>
    <div id="south" class="x-hide-display">
        <p>south - generally for informational stuff, also could be for status bar</p>
    </div>
    
    <iframe name="setup-frame" id="setup-frame" src ="" width="99%" height="400" frameborder="0">
  		<p>Your browser does not support iframes.</p>
	</iframe>
</body>
