<table width="100%" height="100%" cellpadding="0" cellspacing="0"
    border="0">
    <tr>
        <td>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td width="100%" align="center">
                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                        <DIV id="publisherContent[2]" style="margin: 0px;" align="center">
                        <form name="form" id="form" action="{TRIGGER_ACTION}"
                            class="formDefault" method="post" enctype="multipart/form-data"
                            style="margin: 0px;"
                            onsubmit='return validateForm("[]".parseJSON());'>
                        <div class="borderForm"
                            style="padding-left: 0pt; padding-right: 0pt;">
                        <div class="boxTop">
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        </div>
                        <div class="content" style="">

                        <table width="99%">
                            <tbody>
                                <tr>
                                    <td valign="top"><input class="notValidateThisFields" name="__notValidateThisFields__" id="__notValidateThisFields__" value="" type="hidden">
                                    <input name="DynaformRequiredFields" id="DynaformRequiredFields" value="[]" type="hidden"/>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td nowrap valign="top">
                                                                <span onclick="currentPopupWindow.remove();triggerEditWizardSource('{TRI_UID}');" style="cursor: pointer;" >
                                                                    <img src='/images/50px-Edit.png' width='15px' heigth='15px' valing='middle'/>&nbsp;&nbsp;<b>{SOURCE_LINK}</b>wrewr
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="FormTitle" colspan="2" align=""><span
                                                    id='form[ttinfo]' name='form[ttinfo]'><img src="{LIBRARY_ICON}" height="15" border="0" align="middle"></img>&nbsp;<u>{LIBRARY_NAME}</u>
                                                    <br /><span style='font-weight:normal;'>{LIBRARY_DESCRIPTION}</span>
                                                    <br />
                                                    {METHOD_LABEL} <u>{PMFUNTION_LABEL} ({PMFUNTION})</u> 
                                                    <br />
                                                    <span style='font-weight:normal;'>{PMFUNTION_DESCRIPTION}
                                                    <!-- START BLOCK : methodLink -->
                                                    &nbsp;&nbsp;<a class='linkInBlue' href='{LIBRARY_METHOD_LINK}' target="_blank" >(More Info)</a>
                                                    <!-- END BLOCK : methodLink -->
                                                    </span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="FormSubTitle" colspan="2" id="form[Details]" align="">
                                                    <span>{DETAILS_LABEL}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="FormLabel" width="140">{TITLE}</td>
                                                <td class="FormFieldContent">
                                                    <input class="module_app_input___gray" id="TRI_TITLE"
                                                    name="TRI_TITLE" type="text" size="53" maxlength="255"
                                                    value='{TITLE_CONTENT}' style="" onkeypress="" />
                                                    <input name="TRI_UID" type="hidden" id="TRI_UID"
                                                    value='{TRI_UID}' style="" onkeypress="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="FormLabel" width="140">{DESCRIPTION}</td>
                                                <td class="FormFieldContent">
                                                    <textarea id="TRI_DESCRIPTION" name="TRI_DESCRIPTION" wrap="hard"
                                                    cols="50" rows="2" style="" wrap="OFF"
                                                    class=" module_app_input___gray">{DESCRIPTION_CONTENT}</textarea>
                                                </td>
                                            </tr>
                                            <!-- START BLOCK : paremetersTriggersGroup -->
                                            <tr>
                                                <td class="FormSubTitle" colspan="2" id="form[PARAMETERS]" valign="top">
                                                    <span>{PARAMETERS_LABEL}</span>
                                                </td>
                                            </tr>
                                            <!-- START BLOCK : paremetersTriggers -->
                                            <tr>
                                                <td class="FormLabel" width="140" align="right" valing="top">{LABEL_PARAMETER}</td>
                                                <td class="FormFieldContent" width="70%">
                                                    <input class="module_app_input___gray" id="{OPT_PARAMETER}"
                                                    name="{OPT_PARAMETER}" type="text" size="53" maxlength="255"
                                                    value='{ADD_TRI_VALUE}' style="" onkeypress="" />
                                                    {ADD_TRI_VARIABLE}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <i> {ADD_TRI_DESCRIPTION} </i>
                                                </td>
                                            </tr>
                                            <!-- END BLOCK : paremetersTriggers -->
                                            <!-- END BLOCK : paremetersTriggersGroup -->
                                            <tr>
                                                <td class="FormSubTitle" colspan="2" id="form[RETURN]" align="">
                                                    <span>{RETURN_TITLE}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="FormLabel" width="140">{RETURN_LABEL}</td>
                                                <td class="FormFieldContent" style = '{DISPLAY_MODE}'>
                                                    <input class="module_app_input___gray" id="TRI_ANSWER"
                                                    name="TRI_ANSWER" type="text" size="53" maxlength="255"
                                                    value='{RETURN_VALUE}' style="" onkeypress="" />
                                                    <input type="button" name="INSERT_VARIABLE" value="@@"
                                                    onclick="showDynaformsFormVars(form.TRI_ANSWER.name,'../controls/varsAjax','{PRO_UID}', '@@');return;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <i>{RETURN_DESCRIPTION}</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="FormButton" colspan="2" align="">
                                                    <input type="hidden" id="FIELDS_REQUIRED" name="FIELDS_REQUIRED" value="{FIELDS_REQUIRED}"/>
                                                    <input type="hidden" name="PMFUNTION_NAME" value="{PMFUNTION}"/>
                                                    <input type="hidden" name="LIBRARY_CLASS" value="{LIBRARY_CLASS}"/>
                                                    <input type="hidden" id="PRO_UID" name="PRO_UID" value="{PRO_UID}"/>
                                                    <input type="hidden" id="ALLFUNCTION_TYPE" name="ALLFUNCTION_TYPE" value="{ALLFUNCTION_TYPE}"/>
                                                    <input type="hidden" id="ALLFUNCTION" name="ALLFUNCTION" value="{ALLFUNCTION}"/>
                                                    <input type="hidden" name="PAGED_TABLE_ID" id="PAGED_TABLE_ID" value="{PAGED_TABLE_ID}"/>
                                                    <input type="hidden" name="LIBRARY_NAME" id="LIBRARY_NAME" value="{LIBRARY_NAME}"/>
                                                    <input type="hidden" name="PMFUNTION_LABEL" id="PMFUNTION_LABEL" value="{PMFUNTION_LABEL}"/>
                                                    <input style="" class='module_app_button___gray ' id="savek"
                                                    name="savek" type='button' value="{ID_SAVE}"
                                                    onclick="triggerSave(this.form);" />
                                                    <input style="" class='module_app_button___gray ' id="cancel"
                                                    name="cancel" type='button' value="{ID_CANCEL}"
                                                    onclick="currentPopupWindow.remove(); if(typeof triggerFromLibrary == 'function'){ triggerFromLibrary(); } return false;" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="boxBottom">
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        </div>
                        </div>
                        </form>
                        </DIV>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
        </table>
        </td>
    </tr>

    <tr height="100%">
        <td height="100%" valign="bottom">
        <div class="Footer">
        <div class="content"></div>
        </div>
        </td>
    </tr>
</table>

